/**
 * Theme Name: Standard Plumbing Theme
 * Author: 502 - A strategic marketing agency
 * Author URI: https://weare502.com/
 * Version: 0.1
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  box-sizing: border-box; }

html, body {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  line-height: 1.5;
  overflow-x: hidden;
  color: #000;
  background: #FFF; }
  @media (min-width: 56.25em) {
    html, body {
      font-size: 14px; } }
  @media (min-width: 75em) {
    html, body {
      font-size: 16px; } }

body {
  font-family: "futura-pt", Arial, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.head-wrapper {
  max-width: 1200px;
  margin: 3.25rem auto 0 auto; }

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.shadow-bar {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }

.top-bar {
  position: fixed;
  overflow-x: hidden;
  right: 0;
  left: 0;
  background-color: #961919;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  z-index: 9999; }
  .top-bar div {
    font-size: 1.25rem;
    margin: 0.5rem auto;
    font-weight: normal;
    font-style: italic; }
    @media (min-width: 768px) {
      .top-bar div {
        font-size: 1.5rem; } }
  .top-bar a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold; }

.top-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0); }
  @media (min-width: 75em) {
    .top-container {
      flex-wrap: nowrap;
      justify-content: space-between; } }

.logo-container {
  max-width: 22rem;
  width: 100%;
  position: relative;
  height: 7rem;
  background: #FFF; }
  .logo-container .logo-image-wrapper {
    display: block;
    width: 100%;
    height: 10rem;
    top: -2px;
    left: 0;
    position: absolute;
    z-index: 10;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }
    .logo-container .logo-image-wrapper .logo-image {
      background: url("static/images/logo.jpg"), #FFF;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 10;
      position: absolute;
      border-left: 1rem solid #FFF;
      border-right: 1rem solid #FFF;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

@media (min-width: 75em) {
  .navbar-wrap {
    max-width: 100%; }
    .navbar-wrap .current-menu-item a {
      border-bottom: 1px solid #961919; }
    .navbar-wrap > ul {
      display: flex; }
    .navbar-wrap > ul > li.menu-item-has-children > a {
      padding-top: 0.5rem;
      padding-bottom: 2.4rem;
      z-index: 10;
      position: relative; }
    .navbar-wrap ul > li.menu-item-has-children:hover {
      transition: 0.3s ease-out; }
      .navbar-wrap ul > li.menu-item-has-children:hover:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -25px;
        pointer-events: none;
        z-index: 10;
        border-left: 39px solid transparent;
        border-right: 39px solid transparent;
        border-top: 25px solid #961919;
        -webkit-filter: drop-shadow(0 2px 3px #961919);
                filter: drop-shadow(0 2px 3px #961919); }
      .navbar-wrap ul > li.menu-item-has-children:hover > a {
        background: #961919;
        color: #FFF; }
    .navbar-wrap ul {
      list-style-type: none;
      position: relative;
      margin: 0;
      padding: 0; }
      .navbar-wrap ul a {
        display: block;
        font-size: .9rem;
        text-decoration: none;
        color: #4A4A4A;
        font-weight: bold;
        padding: .5rem .5rem;
        text-transform: uppercase;
        transition: 0.2s ease-out; }
        .navbar-wrap ul a:hover {
          background: #961919;
          color: #FFF;
          transition: 0.2s ease-out; }
      .navbar-wrap ul li {
        display: block;
        margin-right: 2rem;
        margin-top: 3rem;
        position: relative; }
        .navbar-wrap ul li a:first-of-type:hover {
          color: #FFF; }
      .navbar-wrap ul li:hover > .sub-menu {
        display: block;
        background-color: #FFF; }
      .navbar-wrap ul li:hover > {
        transition: 0.2s ease-out;
        color: #FFF; }
      .navbar-wrap ul .sub-menu {
        display: none;
        position: absolute;
        z-index: 5;
        top: 100%;
        left: 0;
        padding: 2rem 1.3rem 1.3rem;
        width: 250px;
        margin-left: -1.2rem;
        box-shadow: 0 1px 3px #999 inset; }
        .navbar-wrap ul .sub-menu .current-menu-item a {
          border-bottom: none;
          background-color: #961919;
          color: #FFF; }
        .navbar-wrap ul .sub-menu li {
          display: block;
          border-bottom: 2px solid #961919;
          margin: 0;
          min-width: 210px; }
        .navbar-wrap ul .sub-menu a {
          display: block;
          font-size: 0.8rem;
          line-height: 1.2;
          padding: 0.6rem 2px 0.6rem 0.5rem;
          color: #9B9B9B; }
    .navbar-wrap .nav-button a {
      color: #961919;
      border: 1px solid #961919;
      transition: 0.2s ease-out; }
      .navbar-wrap .nav-button a:hover {
        transition: 0.2s ease-out;
        color: #FFF;
        background-color: #961919; }
    .navbar-wrap .inverted-button a {
      color: #FFF;
      background-color: #961919;
      box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
      transition: 0.2s ease-out; }
      .navbar-wrap .inverted-button a:hover {
        transition: 0.2s ease-out;
        color: #FFF;
        background-color: #C42121; } }

#menu-toggle {
  display: none; }

@media (max-width: 75em) {
  .nav-top-red-bar {
    height: 2px;
    width: 100%;
    background-color: #961919;
    margin-bottom: 0.5rem; }
  #menu-toggle {
    display: flex;
    align-items: center;
    background: transparent;
    -webkit-appearance: none;
    margin: 0 0 1rem 2rem;
    color: #961919;
    font-size: 1.5rem;
    border: none; }
    #menu-toggle:hover {
      cursor: pointer; }
    #menu-toggle img {
      margin-right: 1rem;
      color: #961919;
      max-width: 2rem;
      height: 2rem; }
  .logo-container {
    width: 100%;
    max-width: none;
    margin: 1rem 0; }
    .logo-container .logo-image-wrapper {
      height: 100%;
      position: relative;
      max-width: 27rem;
      box-shadow: none;
      margin: 0 auto; }
      .logo-container .logo-image-wrapper:after {
        display: none; }
      .logo-container .logo-image-wrapper .logo-image {
        background-size: cover; }
  .navbar-wrap {
    width: 100%; }
  #primary-menu {
    width: 100%;
    list-style: none;
    display: none;
    max-width: 20rem; }
    #primary-menu.menu-open {
      display: block; }
    #primary-menu li {
      display: block; }
    #primary-menu .sub-menu {
      padding: 0;
      margin: 0;
      padding-left: 1.5rem; }
    #primary-menu a {
      display: block;
      padding: .5rem 0;
      color: #4A4A4A;
      text-decoration: none;
      text-transform: uppercase; }
    #primary-menu .nav-button a {
      color: #961919;
      border: 1px solid #961919;
      margin: 1rem 0;
      text-align: center; }
      #primary-menu .nav-button a:hover {
        transition: 0.2s ease-out;
        color: #FFF;
        background-color: #961919; }
    #primary-menu .inverted-button a {
      color: #FFF;
      background-color: #961919;
      box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
      text-align: center; }
      #primary-menu .inverted-button a:hover {
        transition: 0.2s ease-out;
        color: #FFF;
        background-color: #C42121; } }

.work-for-standard {
  display: flex;
  max-width: 100%;
  background-color: #961919;
  align-items: center;
  justify-content: center;
  padding: 1.2rem; }
  .work-for-standard h2 {
    color: #FFF;
    padding: 0;
    margin: 0 3rem 0 0; }

.main-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 2rem 10%;
  background-color: #F5F5F5;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .main-footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem; } }
  @media (min-width: 1200px) {
    .main-footer {
      padding: 2rem 15%; } }
  .main-footer a {
    text-decoration: none; }
  .main-footer .call-us {
    font-size: 1.3rem;
    font-family: "baskerville-urw", Georgia, sans-serif;
    font-weight: normal;
    color: #4A4A4A;
    margin-bottom: 1rem; }
    .main-footer .call-us a {
      color: #961919; }
  .main-footer .social-icons {
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .main-footer .social-icons {
        justify-content: space-between;
        text-align: left; } }
    .main-footer .social-icons a {
      margin-right: 0.5rem;
      margin-left: 0.9rem;
      padding: 0.3rem 0.5rem 0.3rem 0; }
      @media (min-width: 768px) {
        .main-footer .social-icons a {
          margin-right: 0.8rem;
          margin-left: 0; } }
      .main-footer .social-icons a img {
        max-width: 1.7rem;
        max-height: 1.7rem; }
  .main-footer .mini-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    @media (min-width: 768px) {
      .main-footer .mini-menu ul {
        text-align: left; } }
  .main-footer .mini-menu li {
    padding: 0;
    margin: 0.3rem 0;
    font-weight: normal; }
    .main-footer .mini-menu li a {
      color: #4A4A4A;
      font-size: 1.1rem; }
      .main-footer .mini-menu li a:hover {
        text-decoration: underline; }
  .main-footer .rb-minimal-widget {
    -webkit-transform: scale(0.65);
            transform: scale(0.65); }
  .main-footer .veteran-logo {
    margin-top: 2.5rem;
    max-width: 14rem; }
    @media (min-width: 768px) {
      .main-footer .veteran-logo {
        margin-top: 0; } }

.branding {
  margin-top: auto;
  text-align: center; }
  .branding p {
    font-family: "baskerville-urw", Georgia, sans-serif; }
    .branding p a > img {
      max-width: 2rem;
      margin-bottom: -5px; }
    .branding p a > img:hover {
      cursor: pointer; }

.large-text {
  clear: both;
  padding-top: 2.8rem;
  text-align: center;
  color: #961919;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .large-text {
      font-size: 1.5rem; } }

h1, .h1-header {
  font-size: 3rem;
  font-weight: bold; }

h2, .h2-header {
  font-size: 3rem;
  font-weight: bold; }

h3, .h3-header, .h3-header-wide {
  font-size: 1.5rem;
  font-weight: bold; }

h4, .h4-header {
  font-size: 1.2rem;
  font-weight: bold; }

h5, .h5-header {
  font-size: 1rem;
  font-weight: bold; }

h6, .h6-header {
  font-size: 0.8rem;
  font-weight: bold; }

.small-headers {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #4A4A4A;
  text-transform: uppercase; }

.small-headers-normal {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #4A4A4A; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.arrow-down {
  width: 0;
  height: 0;
  border-top: 10px solid #961919;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent; }

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

/* Gravity Forms Styles (Global) - Service Request has separate styles */
#gform_2 input[type=text], #gform_3 input[type=text], #gform_4 input[type=text], #gform_5 input[type=text], #gform_7 input[type=text] {
  border: none;
  border-bottom: 1px solid #4A4A4A; }

#gform_2 textarea, #gform_3 textarea, #gform_4 textarea, #gform_5 textarea, #gform_7 textarea {
  border: 1px solid #4A4A4A; }

#gform_2 #gform_submit_button_2, #gform_2 #gform_submit_button_3, #gform_2 #gform_submit_button_4, #gform_2 #gform_submit_button_5, #gform_2 #gform_submit_button_7, #gform_3 #gform_submit_button_2, #gform_3 #gform_submit_button_3, #gform_3 #gform_submit_button_4, #gform_3 #gform_submit_button_5, #gform_3 #gform_submit_button_7, #gform_4 #gform_submit_button_2, #gform_4 #gform_submit_button_3, #gform_4 #gform_submit_button_4, #gform_4 #gform_submit_button_5, #gform_4 #gform_submit_button_7, #gform_5 #gform_submit_button_2, #gform_5 #gform_submit_button_3, #gform_5 #gform_submit_button_4, #gform_5 #gform_submit_button_5, #gform_5 #gform_submit_button_7, #gform_7 #gform_submit_button_2, #gform_7 #gform_submit_button_3, #gform_7 #gform_submit_button_4, #gform_7 #gform_submit_button_5, #gform_7 #gform_submit_button_7 {
  border: none;
  background-color: #961919;
  color: #FFF;
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
  transition: 0.3s ease-out; }
  #gform_2 #gform_submit_button_2:hover, #gform_2 #gform_submit_button_3:hover, #gform_2 #gform_submit_button_4:hover, #gform_2 #gform_submit_button_5:hover, #gform_2 #gform_submit_button_7:hover, #gform_3 #gform_submit_button_2:hover, #gform_3 #gform_submit_button_3:hover, #gform_3 #gform_submit_button_4:hover, #gform_3 #gform_submit_button_5:hover, #gform_3 #gform_submit_button_7:hover, #gform_4 #gform_submit_button_2:hover, #gform_4 #gform_submit_button_3:hover, #gform_4 #gform_submit_button_4:hover, #gform_4 #gform_submit_button_5:hover, #gform_4 #gform_submit_button_7:hover, #gform_5 #gform_submit_button_2:hover, #gform_5 #gform_submit_button_3:hover, #gform_5 #gform_submit_button_4:hover, #gform_5 #gform_submit_button_5:hover, #gform_5 #gform_submit_button_7:hover, #gform_7 #gform_submit_button_2:hover, #gform_7 #gform_submit_button_3:hover, #gform_7 #gform_submit_button_4:hover, #gform_7 #gform_submit_button_5:hover, #gform_7 #gform_submit_button_7:hover {
    transition: 0.3s ease-out;
    background-color: #DF252C; }

#gform_wrapper_7 .gfield_label {
  margin-top: 2.2rem; }

#gform_wrapper_7 #input_7_2_1_label, #gform_wrapper_7 #input_7_2_2_label, #gform_wrapper_7 #input_7_2_5_label {
  margin-top: 0 !important; }

#gform_wrapper_7 input[type=radio] {
  margin-top: 0;
  margin-right: 5px; }

#gform_wrapper_7 .ginput_container {
  margin-top: 0; }

.learn-more {
  color: #961919;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase; }
  .learn-more:hover {
    text-decoration: underline; }

.center-button {
  text-align: center;
  padding-bottom: 2rem; }

.red-border-button,
.red-shadow-button,
.white-fill-button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  transition: 0.2s ease-out; }
  .red-border-button:hover,
  .red-shadow-button:hover,
  .white-fill-button:hover {
    transition: 0.2s ease-out; }

.white-fill-button, .red-border-button {
  background-color: #FFF;
  color: #961919;
  padding: 0.4rem 1rem; }

.red-shadow-button {
  background-color: #961919;
  color: #FFF;
  box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
  padding: 0.5rem; }
  .red-shadow-button:hover {
    background-color: #C42121;
    color: #FFF; }

.red-border-button {
  border: 1px solid #961919; }
  .red-border-button:hover {
    background-color: #961919;
    color: #FFF; }

.white-fill-button {
  border: 1px solid #FFF; }
  .white-fill-button:hover {
    background-color: #961919;
    color: #FFF; }

.learn-more,
.red-shadow-button,
.white-fill-button,
.red-border-button {
  cursor: pointer; }

a.red-shadow-button,
a.white-fill-button,
a.red-border-button {
  text-decoration: none; }
  a.red-shadow-button:hover,
  a.white-fill-button:hover,
  a.red-border-button:hover {
    text-decoration: none; }

p a:not(.learn-more) {
  text-decoration: none; }
  p a:not(.learn-more):hover {
    text-decoration: none; }

.image-backdrop {
  margin: 0 auto;
  overflow: hidden;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .image-backdrop {
      height: 41rem; } }
  .image-backdrop video, .image-backdrop .home-video {
    display: none; }
    @media (min-width: 1023px) {
      .image-backdrop video, .image-backdrop .home-video {
        display: block;
        position: absolute;
        -o-object-fit: cover;
           object-fit: cover;
        z-index: -1;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto; } }
  body:not(.home) .image-backdrop {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 41rem; }
  .image-backdrop h1 {
    font-family: "baskerville-urw", Georgia, sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    text-shadow: 0 2px 4px #000;
    max-width: 53rem;
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%); }
    @media (min-width: 480px) {
      .image-backdrop h1 {
        font-size: 2.3rem; } }
    @media (min-width: 768px) {
      .image-backdrop h1 {
        font-size: 2.8rem; } }
    @media (min-width: 1023px) {
      .image-backdrop h1 {
        font-size: 4rem; } }

.call-to-action {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: -12rem;
  text-align: center;
  z-index: 99;
  padding-bottom: 0.5rem;
  flex-direction: column; }
  @media (min-width: 768px) {
    .call-to-action {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; } }
  .call-to-action .item {
    background-color: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    max-width: 25.5rem;
    width: 100%;
    min-width: 16rem;
    border-radius: 3px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: .5rem;
    margin-bottom: 4rem; }
    @media (min-width: 1023px) {
      .call-to-action .item {
        max-width: 20rem; } }
    @media (min-width: 768px) {
      .call-to-action .item {
        max-width: 18rem; } }
  .call-to-action h3 {
    padding: 0 0 0.5rem;
    margin-bottom: 0;
    font-size: 1.8rem; }
    @media (min-width: 768px) {
      .call-to-action h3 {
        min-height: 65px;
        font-size: 1.5rem; } }
  .call-to-action p {
    font-family: "baskerville-urw", Georgia, sans-serif;
    font-size: 1.3rem;
    padding: 0 1rem; }
    @media (min-width: 768px) {
      .call-to-action p {
        min-height: 150px;
        font-size: 1.1rem; } }
  .call-to-action a.learn-more {
    display: inline-block; }

#service-plan-cards {
  overflow: hidden; }

.service-plan-container {
  max-width: 100%;
  margin: 2rem 0;
  padding: 2rem 0;
  position: relative;
  overflow: hidden; }
  .service-plan-container .overlay-box {
    position: relative;
    z-index: 999;
    width: 100%;
    background-color: #961919;
    padding: 1rem 1rem 4rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); }
    @media (min-width: 480px) {
      .service-plan-container .overlay-box {
        width: 482px;
        padding-bottom: 6rem; } }
    .service-plan-container .overlay-box h3, .service-plan-container .overlay-box p {
      color: #FFF; }
    .service-plan-container .overlay-box h3 {
      font-size: 2rem;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
      line-height: 1; }
      @media (min-width: 768px) {
        .service-plan-container .overlay-box h3 {
          font-size: 3rem; } }
    .service-plan-container .overlay-box p {
      font-size: 1.3rem;
      padding-bottom: 1rem;
      font-family: "futura-pt", Arial, sans-serif; }
      @media (min-width: 1023px) {
        .service-plan-container .overlay-box p {
          font-size: 1rem; } }
  .service-plan-container img {
    display: none; }
    @media (min-width: 480px) {
      .service-plan-container img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        max-width: 75%; } }

.choose-standard {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #961919; }
  @media (min-width: 768px) {
    .choose-standard {
      font-size: 3rem; } }

.options-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center; }
  .options-container .option-box {
    max-width: 24rem;
    width: 100%;
    min-width: 16rem;
    margin-bottom: 4rem; }
    .options-container .option-box h3, .options-container .option-box p {
      margin-top: 0; }
    .options-container .option-box h3 {
      padding-bottom: 0;
      line-height: 1.25; }
    .options-container .option-box p {
      color: #4A4A4A;
      max-width: 304px;
      margin: 1rem auto;
      font-family: "baskerville-urw", Georgia, sans-serif;
      font-size: 1.4rem;
      min-height: 240px; }
      @media (min-width: 1023px) {
        .options-container .option-box p {
          font-size: 1.1rem; } }

#reviews-standard {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  margin-top: 2rem;
  background-color: #F5F5F5;
  padding: 2rem 1rem; }
  #reviews-standard .review-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: #961919;
    text-transform: uppercase;
    text-align: center; }
    @media (min-width: 768px) {
      #reviews-standard .review-title {
        font-size: 3rem; } }

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 1200px;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  padding: 0 4rem; }
  .reviews-container .review-box {
    max-width: 285px;
    margin-bottom: 4rem; }
    .reviews-container .review-box h3 {
      margin-top: 0;
      padding-bottom: 0; }
    .reviews-container .review-box img {
      padding-left: 0.4rem; }
    .reviews-container .review-box p {
      color: #4A4A4A;
      margin: 1rem auto;
      font-family: "baskerville-urw", Georgia, sans-serif;
      font-size: 1.4rem; }
      @media (min-width: 1023px) {
        .reviews-container .review-box p {
          font-size: 1.1rem; } }

#estimates-standard {
  margin-top: 1rem;
  margin-bottom: 4rem;
  clear: both; }
  #estimates-standard .estimate-header, #estimates-standard .estimate-header-grey {
    color: #961919;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "futura-pt", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
  #estimates-standard .estimate-header {
    font-size: 1.8rem; }
    @media (min-width: 480px) {
      #estimates-standard .estimate-header {
        font-size: 3rem; } }
  #estimates-standard .estimate-header-grey {
    color: #4A4A4A;
    margin-bottom: 4rem;
    font-size: 1.3rem; }
    @media (min-width: 480px) {
      #estimates-standard .estimate-header-grey {
        font-size: 1.5rem; } }
  #estimates-standard button {
    outline: none;
    border: none; }

.estimates-container {
  display: flex;
  max-width: 82%;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 5rem; }
  .estimates-container .select-wrapper {
    position: relative;
    border-bottom: 2px solid #961919;
    flex: 0 0 10rem; }
    @media (min-width: 768px) {
      .estimates-container .select-wrapper {
        flex: 0 0 15rem; } }
    .estimates-container .select-wrapper .arrow-down {
      position: absolute;
      right: 0;
      top: 50%;
      pointer-events: none; }
  .estimates-container .drop-down-selector, .estimates-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    width: 100%;
    color: #961919;
    font-size: 1.5rem;
    padding-right: 1rem;
    cursor: pointer; }
    .estimates-container .drop-down-selector a, .estimates-container select a {
      color: #961919;
      font-size: 1.5rem;
      text-decoration: none;
      padding-right: 1rem; }
    .estimates-container .drop-down-selector span, .estimates-container select span {
      display: inline-block;
      margin-left: 1rem; }

.description-page-wrapper {
  max-width: 1200px;
  background-color: #FFF;
  margin: -28rem auto 0.5rem;
  border-radius: 3px;
  padding: 6rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .description-page-wrapper:before {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    height: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0px 10px -4px #000; }
  @media (min-width: 1023px) {
    .description-page-wrapper {
      flex-direction: row;
      margin: -20rem auto 0.5rem; } }
  .description-page-wrapper .estimates-container {
    margin: 0 auto;
    clear: both; }

.side-menu-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 1.3rem;
  max-width: 175px; }
  @media (min-width: 1023px) {
    .side-menu-wrapper {
      border-right: 2px solid #979797;
      max-width: 100%; } }
  .side-menu-wrapper .side-title {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    color: #4A4A4A;
    font-weight: bold;
    text-transform: uppercase; }
  .side-menu-wrapper a {
    margin-bottom: 0.1rem;
    padding: 0.3rem;
    color: #4A4A4A;
    text-decoration: none; }
    .side-menu-wrapper a:hover {
      text-decoration: underline; }
  .side-menu-wrapper .service-request-button, .side-menu-wrapper .mail-button {
    font-weight: bold;
    font-size: 0.9rem;
    max-width: 145px;
    padding: 0.6rem;
    background-color: #961919;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .side-menu-wrapper .service-request-button, .side-menu-wrapper .mail-button {
        max-width: 201px; } }
    .side-menu-wrapper .service-request-button:hover, .side-menu-wrapper .mail-button:hover {
      text-decoration: none; }
  .side-menu-wrapper .service-request-button {
    color: #FFF;
    box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    transition: 0.4s ease-out; }
    .side-menu-wrapper .service-request-button:hover {
      transition: 0.4s ease-out;
      background-color: #C42121; }
  .side-menu-wrapper .mail-button {
    color: #961919;
    background-color: #FFF;
    border: 1px solid #961919;
    transition: 0.4s ease-out; }
    .side-menu-wrapper .mail-button:hover {
      transition: 0.4s ease-out;
      color: #FFF;
      background-color: #961919; }

.right-text-wrapper {
  max-width: 720px;
  width: 100%;
  order: -1; }
  @media (min-width: 1023px) {
    .right-text-wrapper {
      order: 2; } }
  .right-text-wrapper .large-text {
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 2rem;
    line-height: 1;
    text-align: left; }
  .right-text-wrapper h2 {
    color: #4A4A4A;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1.5rem; }
  .right-text-wrapper p {
    margin-bottom: 2rem;
    padding: 0;
    margin-top: 0;
    font-size: 1.25rem; }
    @media (min-width: 768px) {
      .right-text-wrapper p {
        font-size: 1rem; } }
  .right-text-wrapper a {
    text-decoration: none;
    margin-right: 2rem; }
    .right-text-wrapper a:hover {
      text-decoration: underline;
      -webkit-text-decoration-color: #961919;
              text-decoration-color: #961919; }

.main-grid-wrapper {
  margin-top: -25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: .5rem; }
  @media (min-width: 768px) {
    .main-grid-wrapper {
      margin-top: -10rem; } }
  @media (min-width: 75em) {
    .main-grid-wrapper {
      padding: 0; } }
  .main-grid-wrapper #estimates-standard {
    padding-top: 2rem; }
  .main-grid-wrapper #service-plan-cards {
    margin-top: 5rem; }
    .main-grid-wrapper #service-plan-cards img {
      margin-top: -22rem; }

.grid-card-header, .h3-header-wide {
  margin: 0 auto;
  font-weight: bold;
  font-family: "futura-pt", Arial, sans-serif;
  color: #4A4A4A;
  text-transform: uppercase;
  line-height: 1.15; }

.grid-card-header {
  padding-top: 0.8rem;
  max-width: 200px; }

h1.grid-page-header {
  font-size: 2rem;
  font-family: "futura-pt", Arial, sans-serif;
  text-shadow: none;
  text-transform: uppercase;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 0 .5rem;
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  font-weight: bold;
  line-height: 1; }
  @media (min-width: 768px) {
    h1.grid-page-header {
      max-width: 800px;
      top: 40%; } }

.grid-card {
  box-shadow: 0 0 4px 0 #999;
  max-width: 100%;
  width: 285px;
  margin: 0 auto;
  text-align: center;
  padding: 0.2rem 1rem;
  background-color: #FFF;
  margin-bottom: calc(10%/3); }
  @media (min-width: 56.25em) {
    .grid-card {
      max-width: 45%;
      width: 100%;
      margin-right: calc(10%/3);
      margin-left: calc(10%/3); }
      .grid-card:nth-child(2n+2) {
        margin-left: 0; } }
  @media (min-width: 75em) {
    .grid-card {
      max-width: 22.5%;
      margin-right: calc(10%/3);
      margin-left: 0; }
      .grid-card:nth-of-type(6n+4) {
        margin-right: 0; } }
  .grid-card p {
    font-family: "baskerville-urw", Georgia, sans-serif;
    font-size: 1.5rem;
    color: #4A4A4A;
    text-align: center; }
    @media (min-width: 1200px) {
      .grid-card p {
        font-size: 1rem;
        min-height: 195px; } }
  .grid-card a {
    display: block;
    margin-bottom: 0.5rem; }

.grid-card-wide {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  background-color: #F5F5F5;
  padding: 1.5rem;
  margin-bottom: calc(10%/3); }
  @media (min-width: 75em) {
    .grid-card-wide {
      max-width: calc(45% + (10%/3));
      margin-right: calc(10%/3); }
      .grid-card-wide:nth-of-type(6n+6) {
        margin-right: 0; } }
  .grid-card-wide img {
    display: none; }
    @media (min-width: 768px) {
      .grid-card-wide img {
        display: block;
        flex: 1 0 auto;
        max-width: 35rem;
        height: 24rem;
        margin-right: 2rem; } }
    @media (min-width: 1023px) {
      .grid-card-wide img {
        margin-right: 6rem;
        max-width: 31.75rem; } }
    @media (min-width: 1200px) {
      .grid-card-wide img {
        margin-right: 1.1rem;
        max-width: 15.5rem;
        height: 17rem; } }
  .grid-card-wide .right-side {
    max-width: 285px;
    text-align: center; }
    @media (min-width: 768px) {
      .grid-card-wide .right-side {
        margin-left: 1.2rem;
        margin-right: 0;
        text-align: left; } }
    @media (min-width: 1023px) {
      .grid-card-wide .right-side {
        margin-right: 4rem; } }
    @media (min-width: 1200px) {
      .grid-card-wide .right-side {
        margin-right: 0; } }
  .grid-card-wide .grid-header {
    max-width: 300px; }
  .grid-card-wide p {
    margin-top: 0.2rem;
    font-family: "baskerville-urw", Georgia, sans-serif;
    font-size: 1.5rem;
    color: #4A4A4A;
    min-height: 165px; }
    @media (min-width: 1200px) {
      .grid-card-wide p {
        font-size: 1rem; } }
  .grid-card-wide a {
    border: 1px solid #961919;
    padding: 0.5rem 2.8rem;
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem; }
    .grid-card-wide a:hover {
      text-decoration: none;
      background-color: #961919;
      color: #FFF;
      transition: 0.4s ease-out; }

.partner-logos-wrapper {
  max-width: 100%;
  margin: 1rem auto 1rem; }
  @media (min-width: 768px) {
    .partner-logos-wrapper {
      margin: 3rem auto 5rem; } }
  .partner-logos-wrapper h1 {
    text-align: center;
    color: #961919;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .partner-logos-wrapper h1 {
        padding-bottom: 1rem; } }
  .partner-logos-wrapper .partner-logos-container {
    display: flex;
    margin: 0 auto;
    max-width: 70rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .partner-logos-wrapper .partner-logos-container {
        flex-direction: row;
        justify-content: space-between; } }
    .partner-logos-wrapper .partner-logos-container .partner-divider {
      display: block;
      height: 2px;
      width: 17.5rem;
      background-color: #979797; }
      @media (min-width: 768px) {
        .partner-logos-wrapper .partner-logos-container .partner-divider {
          width: 2px;
          height: 12rem; } }
    .partner-logos-wrapper .partner-logos-container .logo-box {
      max-width: 17.2rem;
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 3rem; }
      @media (min-width: 768px) {
        .partner-logos-wrapper .partner-logos-container .logo-box {
          margin-top: 0;
          margin-bottom: 0; } }
      @media (min-width: 1023px) {
        .partner-logos-wrapper .partner-logos-container .logo-box .partner-link {
          -webkit-filter: grayscale(0);
                  filter: grayscale(0);
          transition: 0.3s ease-out; }
          .partner-logos-wrapper .partner-logos-container .logo-box .partner-link:hover {
            -webkit-filter: grayscale(1);
                    filter: grayscale(1);
            transition: 0.3s ease-out; } }

.page-template-service-request .description-alt-page-wrapper {
  margin: 1rem 0;
  color: #4A4A4A;
  max-width: 1200px;
  background-color: #FFF;
  border-radius: 3px;
  padding: 6rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .page-template-service-request .description-alt-page-wrapper h2, .page-template-service-request .description-alt-page-wrapper p {
    font-weight: bold;
    text-transform: uppercase; }
  .page-template-service-request .description-alt-page-wrapper h2 {
    font-size: 1.8rem;
    color: #961919;
    margin: 0; }
    @media (min-width: 768px) {
      .page-template-service-request .description-alt-page-wrapper h2 {
        font-size: 3rem; } }
  .page-template-service-request .description-alt-page-wrapper p {
    margin-top: 0;
    color: #4A4A4A;
    font-size: 1rem;
    padding-bottom: 3rem; }
    @media (min-width: 768px) {
      .page-template-service-request .description-alt-page-wrapper p {
        font-size: 1.5rem; } }

.page-template-service-request .loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .page-template-service-request .loader.inline {
    display: inline-block;
    margin: 0;
    width: 2em;
    height: 2em;
    margin: 0 1rem; }

.page-template-service-request .loader:before {
  width: 50%;
  height: 50%;
  background: #961919;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.page-template-service-request .loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.form-section {
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .form-section-inner {
    display: none;
    margin-top: 2rem; }

.form-section-header {
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  background: none;
  border: none;
  -webkit-appearance: none;
  display: block;
  cursor: pointer;
  padding: 0; }
  .form-section-header:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: .25em solid currentColor;
    border-right: .25em solid transparent;
    border-top: .25em solid transparent;
    border-bottom: .25em solid transparent;
    margin-left: 1rem; }
  .form-section-header:disabled:after {
    display: none; }

.form-section-inner > button {
  border: none; }

#service-request {
  flex: 1; }
  #service-request label {
    display: block; }
  #service-request .available-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem; }
    #service-request .available-services .service label {
      display: flex;
      flex-direction: column-reverse;
      font-size: 0.9rem;
      text-align: center;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      #service-request .available-services .service label:before {
        content: 'Select';
        display: block;
        color: #FFF;
        background-color: #961919;
        box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
        text-align: center;
        width: 130px;
        max-width: 100%;
        padding: 0.5rem 1.8rem;
        cursor: pointer;
        box-sizing: border-box;
        margin-top: .5rem;
        text-transform: uppercase; }
        #service-request .available-services .service label:before:hover {
          transition: 0.4s ease-out;
          color: #FFF;
          background-color: #C42121; }
      #service-request .available-services .service label.selected:before {
        content: 'Selected';
        background-color: #FFF;
        color: #961919;
        border: 1px solid #961919;
        box-shadow: none; }
    #service-request .available-services .service input {
      display: block;
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      margin-bottom: .5rem; }
    #service-request .available-services .service input[type=checkbox] {
      width: 1rem;
      height: 1rem; }
  #service-request .red-button {
    cursor: pointer;
    margin: 2rem 0;
    padding: .5rem 1.5rem;
    color: #FFF;
    background-color: #961919;
    box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
    transition: 0.4s ease-out; }
    #service-request .red-button:hover {
      transition: 0.4s ease-out;
      color: #FFF;
      background-color: #C42121; }
  #service-request .contact-information-section input, #service-request .contact-information-section textarea {
    width: 100%;
    display: block; }
  #service-request .contact-information-section .contact-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%; }
    @media (min-width: 480px) {
      #service-request .contact-information-section .contact-info-wrapper {
        max-width: 75%; } }
    #service-request .contact-information-section .contact-info-wrapper > * {
      width: 100%;
      flex: 1 0 auto; }
    #service-request .contact-information-section .contact-info-wrapper .contact-info-header {
      width: 100%;
      flex: 1 0 auto;
      margin-bottom: 1rem; }
    #service-request .contact-information-section .contact-info-wrapper label {
      width: 100%;
      flex: 1 0 auto;
      margin-bottom: 2rem; }
    #service-request .contact-information-section .contact-info-wrapper input {
      border: none;
      border-bottom: 1px solid #979797; }
    #service-request .contact-information-section .contact-info-wrapper textarea {
      border: 1px solid #979797; }
  #service-request .contact-information-section .half .pref-contact {
    border: 1px solid #979797;
    max-width: 14rem; }
  @media (min-width: 56.25em) {
    #service-request .contact-information-section .half {
      max-width: 45%; } }
  #service-request .error-message {
    background: rgba(150, 25, 25, 0.85);
    color: #FFF;
    padding: .25rem .5rem;
    text-transform: uppercase; }
  #service-request .form-errors .error-message {
    margin-bottom: .25rem; }

.ui-widget-header {
  background: none !important;
  border: none !important; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content .ui-state-hover.ui-state-default {
  background: #961919 !important;
  color: #FFF !important; }

.service-confirmation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .service-confirmation > * {
    flex: 1 0 auto;
    width: 100%; }
  .service-confirmation .contact-info-confirmation {
    max-width: 20rem;
    margin-bottom: 4rem; }
    @media (min-width: 56.25em) {
      .service-confirmation .contact-info-confirmation {
        margin-right: 6rem; } }
    .service-confirmation .contact-info-confirmation .contact-confirmation-header {
      font-size: 1.8rem;
      color: #4A4A4A;
      padding-bottom: 1rem;
      font-weight: bold; }
      @media (min-width: 768px) {
        .service-confirmation .contact-info-confirmation .contact-confirmation-header {
          font-size: 1.5rem; } }
    .service-confirmation .contact-info-confirmation .contact-item {
      display: flex !important; }
      .service-confirmation .contact-info-confirmation .contact-item > span {
        min-width: 8rem; }
  .service-confirmation .service-info-confirmation {
    max-width: 20rem;
    padding: 1rem;
    box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px; }
    .service-confirmation .service-info-confirmation h4 {
      margin-left: 1.5rem;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
      padding: 0;
      font-size: 1.8rem;
      font-weight: bold;
      color: #4A4A4A; }
      @media (min-width: 768px) {
        .service-confirmation .service-info-confirmation h4 {
          font-size: 1.5rem; } }
    .service-confirmation .service-info-confirmation div {
      margin-left: 1.5rem; }
    .service-confirmation .service-info-confirmation .push-down {
      padding-bottom: 2.5rem; }

.agreement-wrapper {
  max-width: 75rem;
  background-color: #FFF;
  margin: -28rem auto 0.5rem;
  border-radius: 3px;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .agreement-wrapper:before {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    height: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0px 10px -4px #000; }
  @media (min-width: 1023px) {
    .agreement-wrapper {
      margin: -20rem auto 0.5rem; } }
  .agreement-wrapper h2 {
    color: #961919;
    text-align: center; }
  .agreement-wrapper .top-list-mods {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.2rem; }
    @media (min-width: 768px) {
      .agreement-wrapper .top-list-mods {
        max-width: 35rem;
        padding-left: 2.5rem; } }
  .agreement-wrapper .list-mods {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .agreement-wrapper .list-mods {
        max-width: 55rem;
        flex-direction: row;
        justify-content: space-between; } }
    .agreement-wrapper .list-mods .p1 {
      margin-left: 2.5rem; }
      @media (min-width: 414px) {
        .agreement-wrapper .list-mods .p1 {
          padding-left: 4rem; } }
      @media (min-width: 768px) {
        .agreement-wrapper .list-mods .p1 {
          margin: 0;
          padding: 0; } }
    @media (max-width: 75em) {
      .agreement-wrapper .list-mods .divider {
        display: none; } }
    @media (min-width: 56.25em) {
      .agreement-wrapper .list-mods .divider {
        display: block;
        width: 1px;
        border: 1px solid #4A4A4A;
        min-height: 350px;
        background-color: #4A4A4A;
        margin: 0 8rem 0 4rem; } }

.fac-cards {
  max-width: 100%;
  margin: 3rem auto 6rem; }
  .fac-cards__container {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) {
      .fac-cards__container {
        flex-direction: row;
        justify-content: space-between; } }
    .fac-cards__container--card {
      max-width: 24.5rem;
      width: 100%;
      min-height: 17.2rem;
      text-align: center;
      background-color: #FCFCFC;
      position: relative;
      z-index: 5;
      border: 1px solid #D8D8D8;
      border-radius: 3px; }
      .fac-cards__container--card h3 {
        text-transform: uppercase;
        width: 14.2rem;
        text-align: center;
        margin: 0 auto;
        color: #4A4A4A;
        padding-top: 2rem;
        padding-bottom: 0.5rem; }
      .fac-cards__container--card .h1-header {
        font-weight: bold;
        color: #961919;
        padding-bottom: 1.5rem; }
        .fac-cards__container--card .h1-header span {
          font-size: 1rem;
          color: #4A4A4A;
          font-weight: normal; }
      .fac-cards__container--card:nth-of-type(2) {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        background-color: #FFF;
        box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.4);
        z-index: 10; }
        .fac-cards__container--card:nth-of-type(2) .red-border-button {
          background-color: #961919;
          color: #FFF;
          box-shadow: 0 15px 7px -10px rgba(150, 25, 25, 0.5);
          border: none; }
          .fac-cards__container--card:nth-of-type(2) .red-border-button:hover {
            background-color: #DF252C; }
      .fac-cards__container--card a {
        padding: 0.65rem 3rem; }

.career-wrapper {
  max-width: 100%;
  margin: -24rem auto 0;
  background: #FFF; }
  .career-wrapper:before {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    height: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0px 10px -4px #000; }
  @media (min-width: 768px) {
    .career-wrapper {
      margin-top: -15rem;
      padding-left: 8rem; } }
  @media (min-width: 1023px) {
    .career-wrapper {
      padding-left: 14rem; } }
  @media (min-width: 1200px) {
    .career-wrapper {
      margin-top: -20rem; } }

.editor-content {
  width: 60rem;
  padding: 2rem 1rem 0 1rem;
  margin: 0 auto; }
  .editor-content iframe {
    width: 700px;
    height: 425px; }

.job-container {
  max-width: 960px;
  margin: 2rem auto 4rem;
  padding: 1rem;
  align-content: center; }
  .job-container p {
    font-size: 1.2rem;
    padding-bottom: 0.5rem; }
  .job-container .job-header {
    margin-top: 3rem;
    max-width: 30rem;
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 1.4rem; }
    .job-container .job-header a {
      font-size: 1.2rem; }
    .job-container .job-header p {
      font-weight: bold; }
    .job-container .job-header p:last-child {
      border-bottom: 1px solid #961919; }
  .job-container .job-body {
    max-width: 650px;
    font-family: "baskerville-urw", Georgia, sans-serif; }
    .job-container .job-body P {
      font-weight: normal; }
    .job-container .job-body a {
      font-family: "futura-pt", Arial, sans-serif; }

.staff-page-wrapper {
  max-width: 1200px;
  background-color: #FFF;
  margin: -30rem auto 0;
  border-radius: 3px;
  padding: 4rem 4rem;
  margin-bottom: 5rem; }
  @media (min-width: 1023px) {
    .staff-page-wrapper {
      margin-top: -15rem; } }
  .staff-page-wrapper:before {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    height: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0px 10px -4px #000; }

.map-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .map-wrapper {
      margin-right: 4rem; } }
  .map-wrapper img {
    display: none; }
    @media (min-width: 1023px) {
      .map-wrapper img {
        display: block; } }
  .map-wrapper .map-right {
    padding-left: 2rem; }
    .map-wrapper .map-right .large-text {
      font-size: 3rem;
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 0;
      color: #961919;
      text-align: left; }
    .map-wrapper .map-right .spacer {
      padding-top: 1.5rem;
      font-size: 1.2rem;
      color: #4A4A4A;
      font-weight: bold; }
    .map-wrapper .map-right a, .map-wrapper .map-right address {
      text-decoration: none;
      color: #4A4A4A; }

.staff-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .staff-wrapper {
      justify-content: space-between; } }
  .staff-wrapper .new-teammate {
    padding-bottom: 3rem; }
    @media (min-width: 768px) {
      .staff-wrapper .new-teammate {
        padding-bottom: 7rem; } }
    .staff-wrapper .new-teammate:last-child {
      padding-bottom: 2rem; }
    .staff-wrapper .new-teammate img {
      padding-bottom: 0;
      margin-bottom: 0;
      width: 250px;
      margin-left: 0.5rem; }
      @media (min-width: 1023px) {
        .staff-wrapper .new-teammate img {
          width: 280px; } }
    .staff-wrapper .new-teammate .staff-image-border {
      border-bottom: 3px solid #961919;
      width: 265px;
      margin: 0;
      padding: 0;
      line-height: 0; }
      @media (min-width: 1200px) {
        .staff-wrapper .new-teammate .staff-image-border {
          width: 300px; } }
  .staff-wrapper .staff-name {
    font-size: 2rem;
    color: #961919;
    font-weight: bold; }
  .staff-wrapper .staff-title {
    font-size: 1.2rem;
    color: #4A4A4A;
    font-weight: bold;
    margin-bottom: 1.5rem; }
  .staff-wrapper .staff-button {
    color: #961919; }
    .staff-wrapper .staff-button:hover {
      transition: 0.4s ease-out;
      background-color: #961919;
      color: #FFF; }

.not-found-wrapper {
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.error-heading {
  font-family: "baskerville-urw", Georgia, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #FFF;
  text-align: center;
  text-shadow: 0 2px 4px #000;
  padding-top: 8%;
  padding-bottom: 1.5rem; }
  @media (min-width: 768px) {
    .error-heading {
      font-size: 2.5rem; } }
  @media (min-width: 1200px) {
    .error-heading {
      font-size: 3rem; } }

.error-text {
  font-family: "futura-pt", Arial, sans-serif;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem; }
  @media (min-width: 1023px) {
    .error-text {
      font-size: 1.5rem; } }
  .error-text > span {
    font-size: 2.2rem; }

a.error-text:hover {
  border-bottom: 2px solid #FFF; }
/*# sourceMappingURL=style.css.map */