{% extends "base.twig" %}

{% block content %}
<div class="not-found-wrapper" style="background-image: url('{{ theme.link }}/static/images/404-broken-link.jpg');">
	<div class="h1-header error-heading">Oops. Something's Broken.</div>
	<div class="error-text h3-header center">Error 404. Page Not Found.</div>
	<div class="center"><a class="error-text h3-header" href="/">Return to Homepage <span>›</span></a></div>
</div>
{% endblock %}