{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9LDH4M" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	{% block banner %}
		<header class="top-bar">
			<div>24 Hour Emergency Services <a href="tel:7857765012">785-776-5012</a></div>
		</header>
	{% endblock %}

	<div class="head-wrapper">
		{% include 'header.twig' %}
	</div>

	{% block belowheader %}
		<div class="shadow-bar"></div>
	{% endblock %}

	<div class="content-wrapper">
		{% block content %}
		{% endblock %}
	</div>

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}

	{#----- scripts go below here -----#}

	{# Global site tag (gtag.js) - Google Analytics #}
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83196829-10"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-83196829-10');
	</script>

	{# Hotjar Tracking Code for https://www.standardpha.com/ #}
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:708875,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
</body>
</html>