{% extends 'base.twig' %}

{% block belowheader %}
	<div class="image-backdrop" style="background-image: url( '{{ TimberImage( post.header_image ).src }}' );">
		<h1 class="grid-page-header">{{ post.header_text }}</h1>
	</div>
{% endblock %}

{% block content %}
<div class="career-wrapper">
	<div class="editor-content">{{ post.content }}</div>
	{% for career in careers %}
		<div class="job-container">
			<div class="job-header">
				<p>{{ career.title }}</p>
			</div>

			<div class="job-body">
				<p>{{ career.job_description }}</p>
				<a class="red-shadow-button" href="/application-form/">Apply Now!</a>
			</div>
		</div>
	{% endfor %}
</div> {# /.career-wrapper #}

{% include 'lead-capture.twig' %}

{% endblock %}