{% extends 'base.twig' %}

{% block belowheader %}
	<div class="image-backdrop" style="background-image: url( '{{ TimberImage( post.header_image ).src }}' );">
		<h1 class="grid-page-header">{{ post.header_text }}</h1>
	</div>
{% endblock %}

{% block content %}
<div class="staff-page-wrapper">
	<div class="map-wrapper">
		<img src="{{ theme.link }}/static/images/standard-alt-map.jpg" alt="Static map of Standard Plumbing's location">
		
		<div class="map-right">
			<h1 class="large-text">Contact Us</h1>
			<div class="spacer">Email</div>
			<a href="mailto:info@standardpha.com">info@standardpha.com</a>
			<div class="spacer">Phone</div>
			<a href="tel:7857765012">785-776-5012</a>
			<div class="spacer">Mailing Address</div>
			<address>609 Pecan Cir. </br> Manhattan, KS, 66502</address>
		</div>
	</div>

	<div class="staff-wrapper">
	{% for staff in teamstaff %}
		<div class="new-teammate">
			<div class="staff-image-border"><img src="{{ TimberImage( staff.employee_picture ).src }}" alt="{{ TimberImage( staff.employee_picture ).alt }}"></div>
			<div class="staff-name">{{ staff.title }}</div>
			<div class="staff-title">{{ staff.job_title }}</div>
			<a class="red-border-button" href="{{ staff.review_link }}">Review {{ staff.first_name }}</a>
		</div>
	{% endfor %}
	</div> {# /.staff-wrapper #}
</div> {# /.staff-page-wrapper #}

{% include 'lead-capture.twig' %}

{% endblock %}