{% block footer %}
	<footer id="standard-footer">

		{% if options.show_hiring_bar %}
			<div class="work-for-standard">
				<h2 class="small-headers">Want to Work for Standard PHA?</h2>
				<a class="white-fill-button" href="/job-openings">View Career Openings</a>
			</div>
		{% endif %}

		<div class="main-footer">
			<div class="social-left">
				<div class="call-us">Call us: <a href="tel:785-776-5012">785-776-5012</a></div>
				<div class="social-icons">
					<a href="https://www.facebook.com/standardpha/" target="_blank"><img src="{{ theme.link }}/static/images/facebook-icon.png" alt="Facebook Icon"></a>
					<a href="https://www.instagram.com/standard_pha/" target="_blank"><img src="{{ theme.link }}/static/images/instagram-icon.png" alt="Instagram Icon"></a>
					<a href="https://www.youtube.com/channel/UCIOzr9fBg1yNHtpxkhps7MQ/featured" target="_blank"><img src="{{ theme.link }}/static/images/youtube-icon.png" alt="YouTube Icon"></a>
				</div>
			</div>

			<div class="mini-menu">
				{{ function('spha_render_footer_menu') }}
			</div>

			<script type="text/javascript" src="//www.reviewbuzz.com/app/public/js/widget.js?id=1995"></script>
			<a target="_blank" title="Click for the Business Review of Standard Plumbing, Heating & Air Conditioning in Manhattan KS" href="https://www.bbb.org/wichita/business-reviews/plumber/standard-plumbing-heating-and-air-conditioning-in-manhattan-ks-17878#sealclick"><img alt="Click for the BBB Review of this business in Manhattan KS" style="border: 0; width: 15rem;" src="https://seal-nebraska.bbb.org/seals/blue-seal-250-52-standardplumbingheatingairconditioning-17878.png" /></a>
			<img class="veteran-logo" src="{{ theme.link }}/static/images/spha_vob.svg">
		</div>

	</footer>
	
	<div class="branding">
		<p>Website Designed and Created by <a href="https://weare502.com"><img src="{{ theme.link }}/static/images/502-logo.png" alt="502 - a strategic marketing agency"></a></p>
	</div>

{% endblock %}