{% extends "base.twig" %}

{% block belowheader %}
	<div class="image-backdrop" style="background-image: url( '{{ TimberImage( post.header_image ).src }}' );">
		{% if post.get_field('video') %}
			<video class="home-video" src="{{ post.get_field('video') }}" autoplay loop muted poster="{{ TimberImage( post.header_image ).src }}"></video>
		{% endif %}

		<h1>{{ post.header_text }}</h1>
	</div>
	
{% endblock %}

{% block content %}
<section id="call-to-action-cards">
	<div class="call-to-action">

		{% for card in post.get_field('card_boxes') %}
			<div class="item">
				<h3 class="small-headers">{{ card.card_header }}</h3>
				<img src="{{ TimberImage( card.card_image ).src }}" alt="{{ TimberImage( card.card_image ).alt }}">
				<p>{{ card.card_paragraph }}</p>
				<a class="learn-more" href="{{ card.learn_more_link }}">Learn More</a>
			</div>
		{% endfor %}

	</div> {# /.call-to-action #}
</section>

<section id="service-plan-cards">
	<div class="service-plan-container">
		<div class="overlay-box">
			<h3>{{ post.angled_header }}</h3>
			<p>{{ post.angled_paragraph }}</p>
			<a class="white-fill-button" href="{{ post.button_url }}">{{ post.button_text }}</a>
		</div>
		
		<img src="{{ TimberImage( post.service_image ).src }}" alt="{{ TimberImage( post.service_image ).alt }}">
	</div>
</section>

<section id="choose-standard">
	<div class="center"><h3 class="choose-standard">Why Choose Standard?</h3></div>
	<div class="options-container">

		{% for box in post.get_field('option_boxes') %}
			<div class="option-box">
				<img src="{{ TimberImage( box.option_image ).src }}" alt="{{ TimberImage( box.option_image ).alt }}">
				<h3 class="small-headers">{{ box.option_header }}</h1>
				<p>{{ box.option_paragraph }}</p>
				<a class="red-border-button" href="{{ box.option_link }}">{{ box.option_button_text }}</a>
			</div>
		{% endfor %}

	</div> {# /.options-container #}
</section> {# /#choose-standard #}

<section id="reviews-standard">
	<div class="review-title">What others are saying about standard</div>
	<div class="reviews-container">

		{% for review in reviews %}
			<div class="review-box">
				<h3 class="small-headers-normal">{{ review.title }}</h3>

				{% if review.star_rating == '3 Stars' %}
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-empty.svg" alt="Empty Review Star">
					<img src="{{ theme.link }}/static/images/star-empty.svg" alt="Empty Review Star">					
				{% elseif review.star_rating == '4 Stars' %}
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-empty.svg" alt="Empty Review Star">
				{% elseif review.star_rating == '5 Stars' %}
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
					<img src="{{ theme.link }}/static/images/star-filled.svg" alt="Filled in Review Star">
				{% endif %}

				<p>“{{ review.review_text }}”</p>
			</div>
		{% endfor %}
	</div> {# /.reviews-container #}

	<div class="center-button">
		<a class="red-shadow-button" href="https://www.reviewbuzz.com/web-widget/StandardPlumbingHeatingAir">Leave a Review</a>
	</div>
</section>{# /#reviews-standard #}

{% include 'lead-capture.twig' %}

{% endblock %}
