{% block header %}
<div class="top-container">
	<a href="/" class="logo-container">
		<div class="logo-image-wrapper">
			<div class="logo-image">
				<span class="screen-reader-text">Standard Plumbing Heating and Air Conditioning</span>
			</div>
		</div>
	</a>
	
	<nav class="navbar-wrap" role="navigation">
		<div class="nav-top-red-bar"></div>
		<button id="menu-toggle"><img src="{{ theme.link }}/static/images/icon-menu.png" alt="Menu Button"> Menu</button>
		{{ function('spha_render_primary_menu') }}
	</nav>
</div>
{% endblock %}