<section id="estimates-standard">
	<form method="GET" action="/service-request">
		<div class="estimate-header">Have a Project? We Can Help.</div>
		<div class="estimate-header-grey center">Request Your Free Estimate Today!</div>
		<div class="estimates-container">
			<div class="select-wrapper">
				<select name="service-type">
					<option value="">Project Type</option>
					<option value="Plumbing">Plumbing</option>
					<option value="Drain & Sewer">Drain &amp; Sewer</option>
					<option value="Air Conditioning">Air Conditioning</option>
					<option value="Heating">Heating</option>
					<option value="Free Assessment">Free Assessment</option>
				</select>
				<span class="arrow-down"></span>
			</div>
			<div class="select-wrapper">
				<select name="location">
					<option value="">Location</option>
					<option value="Manhattan">Manhattan</option>
					<option value="Junction City">Junction City</option>
					<option value="Wamego">Wamego</option>
				</select>
				<span class="arrow-down"></span>
			</div>
		</div>

		<div class="center-button">
			<button class="red-shadow-button" type="submit">Schedule Now</a>
		</div>
	</form>
</section>{# /#estimates-standard #}