{% extends 'base.twig' %}

{% block belowheader %}
	<div class="image-backdrop" style="background-image: url( '{{ TimberImage( post.header_image ).src }}' );">
		<h1 class="grid-page-header">{{ post.header_text }}</h1>
	</div>
{% endblock %}

{% block content %}
<div class="description-page-wrapper">
	<aside>
		<div class="side-menu-wrapper">
        {% if children %}
			<div class="side-title">Other Services</div>

			{% for child in children %}
                <a href="{{ child.link }}">{{ child.title }}</a>
            {% endfor %}
        {% endif %}
			<a class="service-request-button" href="https://standardpha.com/service-request">Request Service</a>
			<a class="mail-button" href="{{ options.mail_link }}">Join Our Mailing List</a>
		</div> {# /.side-menu-wrapper #}
	</aside>

	<div class="right-text-wrapper">
		<div class="large-text h1-header">{{ post.title }}</div>
		{{ function('the_content') }}
	</div>
</div>

{% include 'lead-capture.twig' %}

{% endblock %}