{% extends "base.twig" %}

{% block belowheader %}
	<div class="image-backdrop" style="background-image: url( '{{ TimberImage( post.header_image ).src }}' );">
		<h1 class="grid-page-header">{{ post.header_text }}</h1>
	</div>
{% endblock %}

{% block content %}
<div class="main-grid-wrapper">
	
	{% set count = 1 %}
	{% for child in children %}
		{% if count < 5 %}
			<div class="grid-card">
				<div class="grid-card-header h3-header">{{ child.title }}</div>
				<p>{{ child.post_excerpt }}...</p>
				<a class="learn-more" href="{{ child.link }}">Learn More</a>
			</div>
			{% set count = count + 1 %}
		{% elseif count == 5 %}
			<div class="grid-card-wide">
				<img src="{{ TimberImage(child.thumbnail).src }}" alt="{{ TimberImage(child.thumbnail).alt }}">
				<div class="right-side">
					<div class="h3-header-wide">{{ child.title }}</div>
					<p>{{ child.post_excerpt }}...</p>
					<a class="learn-more" href="{{ child.link }}">Learn More</a>
				</div>
			</div>
			{% set count = count + 1 %}
		{% else %}
			<div class="grid-card-wide">
				<img src="{{ TimberImage(child.thumbnail).src }}" alt="{{ TimberImage(child.thumbnail).alt }}">
				<div class="right-side">
					<div class="h3-header-wide">{{ child.title }}</div>
					<p>{{ child.post_excerpt }}...</p>
					<a class="learn-more" href="{{ child.link }}">Learn More</a>
				</div>
			</div>
			{% set count = 1 %}
		{% endif %}
	{% endfor %}

</div> {# /.main-grid-wrapper #}

{# Only show on Heating and Cooling parent pages - Styles QFC: 14398432 #}
{% if is_heating or is_cooling %}
	<section class="partner-logos-wrapper">
		<h1>Our Partners</h1>
		<div class="partner-logos-container">
			<div class="logo-box">
				<a class="partner-link" href="https://www.amana-hac.com/">
					<img class="" src="{{ theme.link }}/static/images/partners/amana-logo.png" alt="Amana Partner Logo">
				</a>
			</div>

			<div class="partner-divider"></div>

			<div class="logo-box">
				<a class="partner-link" href="https://www.americanstandardair.com/">
					<img class="" src="{{ theme.link }}/static/images/partners/american-standard-logo.png" alt="American Standard - Heating and Air Partner Logo">
				</a>
			</div>

			<div class="partner-divider"></div>


			<div class="logo-box">
				<a class="partner-link" href="http://www.mitsubishicomfort.com/">
					<img class="" src="{{ theme.link }}/static/images/partners/mitsubishi-logo.png" alt="Mitsubishi Partner Logo">
				</a>
			</div>
		</div>
	</section>
{% endif %}

<section id="service-plan-cards">
	<div class="service-plan-container">
		<div class="overlay-box">
			<h3>{{ post.angled_header }}</h3>
			<p>{{ post.angled_paragraph }}</p>
			<a class="white-fill-button" href="/contact-us">Meet Our Team</a>
		</div>
		
		<img src="{{ theme.link }}/static/images/certified-technicians.jpg" alt="Woman adjusting her thermostat">
	</div>
</section>

{% include 'lead-capture.twig' %}

{% endblock %}