{% extends 'base.twig' %}

{% block belowheader %}
	<div class="image-backdrop" style="background-image: url( '{{ TimberImage( post.header_image ).src }}' );">
		<h1 class="grid-page-header">{{ post.header_text }}</h1>
	</div>
{% endblock %}

{% block content %}
<div class="agreement-wrapper">
	{# pull in existing content #}
	<div>{{ function('the_content') }}</div>
</div>

<div class="fac-cards">
	<div class="fac-cards__container">
		{% for fac in post.get_field('furnace_and_ac_cards') %}
			<div class="fac-cards__container--card">
				<h3>{{ fac.fac_card_header }}</h3>
				<div class="h1-header">{{ fac.fac_card_price }}<span>/year</span></div>
				<a href="{{ fac.fac_card_button_link }}" class="red-border-button">{{ fac.fac_card_button_text }}</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}