{% extends 'base.twig' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
{% endblock %}

{% block content %}
<div class="description-alt-page-wrapper">
	<div id="service-request">
        <div class="service-request-form" v-if="!submitted">

            <h2>{{ post.title }}</h2>
            <p>What can we help you with?</p>
            <div class="form-section">
                <div class="available-services">
                    <div class="service" v-for="(service, index) in services">
                        <label :class="{'selected': service.selected}">{{ "{{service.name}}" }} <input type="checkbox" v-model="service.selected" /></label>
                    </div>
                </div>
            </div>
            <div id="date-time" class="form-section">
                <button class="form-section-header" @click.once="expandDateTime" placeholder="Choose a Date" aria-label="Expand Time Selection">Select a Time</button>
                <div class="form-section-inner">
                    <h3>Preferred Date to Schedule Service</h3>
                    <label class="time-box"><span class="screen-reader-text">Date</span><input placeholder="Choose a Date" type="text" id="service-request-date" v-model="date" /></label>
                    <h3>Preferred Time</h3>
                    <label class="time-box"><span class="screen-reader-text">Time Window</span> 
                        <select v-model="time">
                            <option value="" selected>Choose a time</option>
                            <option value="8AM - 10AM">8AM - 10AM</option>
                            <option value="10AM - 12PM">10AM - 12PM</option>
                            <option value="12PM - 2PM">12PM - 2PM</option>
                            <option value="2PM  - 4PM">2PM  - 4PM</option>
                        </select>
                    </label>
                </div>
            </div>
            <div id="contact-info" class="form-section contact-information-section">
                <button class="form-section-header" @click.once="expandContactInfo" aria-label="Expand Contact Information">Contact Information</button>
                <div class="form-section-inner">
                    <div class="contact-info-wrapper">
                        <h3 class="contact-info-header">Name</h3>
                        <label class="half"><span class="screen-reader-text">First Name</span><input type="text" v-model="name.first" placeholder="First Name"></label>
                        <label class="half"><span class="screen-reader-text">Last Name</span><input type="text" v-model="name.last" placeholder="Last Name"></label>
                        <h3 class="contact-info-header">Email</h3>
                        <label class="half"><span class="screen-reader-text">Email Address</span><input type="text" v-model="email" placeholder="Email Address"></label>
                        <label class="half"><span class="screen-reader-text">Confirm Email Address</span><input type="text" v-model="emailConfirm" placeholder="Confirm Email Address"></label>
                        <div class="error-message" v-if="email !== emailConfirm">Email addresses do not match.</div>
                        <h3 class="contact-info-header">Phone</h3>
                        <label class="half"><span class="screen-reader-text">Phone Number</span><input type="phone" v-model="phoneNumber" v-mask="{mask: '999-999-9999', model: 'phoneNumber'}" placeholder="Phone Number"></label>
                        <label class="half"><span class="screen-reader-text">Preferred Method of Contact</span>
                            <select  class="pref-contact" v-model="contactMethod">
                                <option value="" selected>Preferred Contact Method</option>
                                <option value="Phone">Phone</option>
                                <option value="Email">Email</option>
                            </select>
                        </label>
                        <h3 class="contact-info-header">Service Address</h3>
                        <label class="half"><span class="screen-reader-text">Street Address</span><input type="text" v-model="serviceAddress.street" placeholder="Street Address"></label>
                        <label class="half"><span class="screen-reader-text">Apt/Suite</span><input type="text" v-model="serviceAddress.street2" placeholder="Apt/Suite"></label>
                        <label class="half"><span class="screen-reader-text">City</span><input type="text" v-model="serviceAddress.city" placeholder="City"></label>
                        <label class="half"><span class="screen-reader-text">State</span><input type="text" v-model="serviceAddress.state" placeholder="State"></label>
                        <label class="half"><span class="screen-reader-text">Zip Code</span><input type="text" v-model="serviceAddress.zip" placeholder="Zip Code"></label>
                        <h3 class="contact-info-header">Additional Comments</h3>
                        <label class="half"><span class="screen-reader-text">Additional Comments</span><textarea type="text" rows="4" v-model="comments" placeholder="Comments"></textarea></label>
                    </div>
                    <div class="form-errors">
                        <div v-for="error in errors" class="error-message">{{'{{error}}'}}</div>
                    </div>
                    <button class="red-shadow-button" @click="submitForm" :disabled="isSubmitting">Schedule Now</button><div class="loader inline" v-if="submitting">Please Wait</div>
                </div>
            </div>

        </div><!-- service request form -->

        <div class="service-confirmation" v-if="submitted">
            <div class="large-text h1-header align-left">Confirmation</div>
            <p>Thank you for your service request! Please review the information below:</p>
            <br><br>

            <div class="contact-info-confirmation">
                <div class="contact-confirmation-header">Contact Information</div>
                <div class="contact-item"><span>Name:</span> {{ '{{name.first}}' }} {{ '{{name.last}}' }}</div>
                <div class="contact-item"><span>Email:</span> {{ '{{email}}' }}</div>
                <div class="contact-item"><span>Phone:</span> {{ '{{phoneNumber}}' }}</div>
                <div class="contact-item"><span>Address:</span> 
                    <div>{{ '{{serviceAddress.street}}' }}<span v-if="serviceAddress.street2">, {{ '{{serviceAddress.street2}}' }}</span><br>
                    {{ '{{serviceAddress.city}}' }}, {{ '{{serviceAddress.state}}' }}<br>
                    {{ '{{serviceAddress.zip}}' }}<br>
                    </div>
                </div>
                <div class="contact-item"><span>Contact Via:</span> {{ '{{contactMethod ? contactMethod : "Phone"}}' }}</div>
            </div>
            <div class="service-info-confirmation">
                <h4>Service Request</h4>
                <div class="push-down" v-for="service in selectedServices">
                    {{'{{service.name}}'}}
                </div>

                <h4>Time</h4>
                <div>{{ '{{date}}' }}</div>
                <div>{{ '{{time}}' }}</div>
            </div>
        </div>

    </div><!-- #service request -->
</div>

{% endblock %}