.not-found-wrapper {
	position: relative;
	left: 50%;
	margin-left: -50vw;
	width: 100vw;
	height: 55vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.error-heading {
	font-family: $font-alt;
	font-size: 2rem;
	font-weight: normal;
	color: $white;
	text-align: center;
	text-shadow: 0 2px 4px $black;
	padding-top: 8%;
	padding-bottom: 1.5rem;

	@include bp(sm) {
		font-size: 2.5rem;
	}

	@include bp(lg) {
		font-size: 3rem;
	}
}

.error-text {
	font-family: $font-body;
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2rem;

	@include bp(md) {
		font-size: 1.5rem;
	}

	> span {
		font-size: 2.2rem;
	}
}

a.error-text:hover {
	border-bottom: 2px solid $white;
}