// Learn More Button
.learn-more {
	color: $red;
	font-size: 0.9rem;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}
}

// to center a button
.center-button {
	text-align: center;
	padding-bottom: 2rem;
}

// combined attributes for all bg-filled buttons
.red-border-button,
.red-shadow-button,
.white-fill-button {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9rem;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
	}
}

.white-fill-button, .red-border-button {
	background-color: $white;
	color: $red;
	padding: 0.4rem 1rem;
}

// red background fill, white text, no border, blurred red shadow below
.red-shadow-button {
	background-color: $red;
	color: $white;
	box-shadow: 0 15px 7px -10px rgba($red, 0.5);
	padding: 0.5rem;

	&:hover {
		background-color: $red-tint;
		color: $white;
	}
}

// white background fill, red border, red text
.red-border-button {
	border: 1px solid $red;

	&:hover {
		background-color: $red;
		color: $white;
	}
}

// white background fill, red text, white border
.white-fill-button {
	border: 1px solid $white;

	&:hover {
		background-color: $red;
		color: $white;
	}
}

// all buttons
.learn-more,
.red-shadow-button,
.white-fill-button,
.red-border-button {
	cursor: pointer;
}

// learn more button has [text-decoration]
a.red-shadow-button,
a.white-fill-button,
a.red-border-button {
	text-decoration: none;

	&:hover { text-decoration: none; }
}

// if in paragraph
p a:not(.learn-more) {
	text-decoration: none;

	&:hover { text-decoration: none; }
}