.career-wrapper {
	max-width: 100%;
	margin: -24rem auto 0;
	background: $white;

	&:before {
		content: "";
		display: block;
		overflow: hidden;
		position: absolute;
		height: 600px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		box-shadow: 0 0px 10px -4px $black;
	}

	@include bp(sm) {
		margin-top: -15rem;
		padding-left: 8rem;
	}

	@include bp(md) {
		padding-left: 14rem;
	}

	@include bp(lg) {
		margin-top: -20rem;
	}
}

.editor-content {
	width: 60rem;
	padding: 2rem 1rem 0 1rem;
	margin: 0 auto;

	iframe {
		width: 700px;
		height: 425px;
	}
}

.job-container {
	max-width: 960px;
	margin: 2rem auto 4rem;
	padding: 1rem;
	align-content: center;

	p {
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	}

	.job-header {
		margin-top: 3rem;
		max-width: 30rem;
		color: $nav-text;
		text-transform: uppercase;
		font-size: 1.4rem;

		a { font-size: 1.2rem; }
		p { font-weight: bold; }
		p:last-child { border-bottom: 1px solid $red; }
	}

	.job-body {
		max-width: 650px;
		font-family: $font-alt;

		P { font-weight: normal }
		a { font-family: $font-body; }
	}
}