.staff-page-wrapper {
	max-width: 1200px;
	background-color: $white;
	margin: -30rem auto 0;
	border-radius: 3px;
	padding: 4rem 4rem;
	margin-bottom: 5rem;

	@include bp(md) {
		margin-top: -15rem;
	}

	&:before {
		content: "";
		display: block;
		overflow: hidden;
		position: absolute;
		height: 600px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		box-shadow: 0 0px 10px -4px $black;
	}
}

.map-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	flex-wrap: wrap;

	@include bp(sm) {
		margin-right: 4rem;
	}

	img {
		display: none;

		@include bp(md) {
			display: block;
		}
	}
	
	.map-right {
		padding-left: 2rem;

		.large-text {
			font-size: 3rem;
			padding-top: 0;
			margin-top: 0;
			margin-bottom: 0;
			color: $red;
			text-align: left;
		}

		.spacer {
			padding-top: 1.5rem;
			font-size: 1.2rem;
			color: $nav-text;
			font-weight: bold;
		}

		a, address {
			text-decoration: none;
			color: $nav-text;
		}
	}
}

.staff-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include bp(sm) {
		justify-content: space-between;
	}

	.new-teammate {
		padding-bottom: 3rem;

		@include bp(sm) {
			padding-bottom: 7rem;
		}

		&:last-child {
			padding-bottom: 2rem;
		}

		img {
			padding-bottom: 0;
			margin-bottom: 0;
			width: 250px;
			margin-left: 0.5rem;

			@include bp(md) {
				width: 280px;
			}
		}
		
		.staff-image-border {
			border-bottom: 3px solid $red;
			width: 265px;
			margin: 0;
			padding: 0;
			line-height: 0; // to move the bottom border up against the image.

			@include bp(lg) {
				width: 300px;
			}
		}
	}
	
	.staff-name {
		font-size: 2rem;
		color: $red;
		font-weight: bold;
	}

	.staff-title {
		font-size: 1.2rem;
		color: $nav-text;
		font-weight: bold;
		margin-bottom: 1.5rem;
	}

	.staff-button {
		color: $red;

		&:hover {
			transition: 0.4s ease-out;
			background-color: $red;
			color: $white;
		}
	}
}