.top-bar {
	position: fixed;
	overflow-x: hidden;
	right: 0;
	left: 0;
	background-color: $red;
	text-transform: uppercase;
	color: $white;
	text-align: center;
	z-index: 9999;

	div {
		font-size: 1.25rem;
		margin: 0.5rem auto;
		font-weight: normal;
		font-style: italic;

		@include bp(sm) {
			font-size: 1.5rem;
		}
	}

	a {
		text-decoration: none;
		color: $white;
		font-weight: bold;
	}
}