.work-for-standard {
	display: flex;
	max-width: 100%;
	background-color: $red;
	align-items: center;
	justify-content: center;
	padding: 1.2rem;

	h2 {
		color: $white;
		padding: 0;
		margin: 0 3rem 0 0;
	}
}

.main-footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	padding: 2rem 10%;
	background-color: $reviews-bg;
	flex-wrap: wrap;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
		padding: 2rem;
	}

	@include bp(lg) {
		padding: 2rem 15%;
	}

	a { text-decoration: none; }

	.call-us {
		font-size: 1.3rem;
		font-family: $font-alt;
		font-weight: normal;
		color: $nav-text;
		margin-bottom: 1rem;

		a {
			color: $red;
		}
	}

	.social-icons {
		margin-bottom: 1rem;
		text-align: center;
		justify-content: center;

		@include bp(sm) {
			justify-content: space-between;
			text-align: left;
		}

		a {
			margin-right: 0.5rem;
			margin-left: 0.9rem;
			padding: 0.3rem 0.5rem 0.3rem 0;

			@include bp(sm) {
				margin-right: 0.8rem;
				margin-left: 0;
			}

			img {
				max-width: 1.7rem;
				max-height: 1.7rem;
			}
		}
	}

	.mini-menu {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;

			@include bp(sm) {
				text-align: left;
			}
		}

		li {
			padding: 0;
			margin: 0.3rem 0;
			font-weight: normal;

			a {
				color: $nav-text;
				font-size: 1.1rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	// review buzz icon made smaller
	.rb-minimal-widget {
		transform: scale(.65);
	}

	.veteran-logo {
		margin-top: 2.5rem;
		max-width: 14rem;

		@include bp(sm) {
			margin-top: 0;
		}
	}
}

.branding {
	margin-top: auto;
	text-align: center;

	p {
		font-family: $font-alt;

		a > img {
			max-width: 2rem;
			margin-bottom: -5px; // align logo
		}
		
		a > img:hover {
			cursor: pointer;
		}
	}
}