* {
	box-sizing: border-box;
}

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 12px;
	line-height: 1.5;
	overflow-x: hidden;
	color: $black;
	background: $white;
	
	@include mq($tablet){ font-size: 14px; }
	@include mq($desktop){ font-size: 16px; }
}

body {
	font-family: $font-body;
}

img {
	max-width: 100%;
	height: auto;
}

.head-wrapper {
	max-width: 1200px;
	margin: 3.25rem auto 0 auto;
}

.content-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

// Only "shows" on the Request service page. Otherwise it blends in with header images (intended)
.shadow-bar {
	box-shadow: 0 0 2px 1px rgba($black, 0.2);
}