// large heading text at the top of each section
.large-text {
	clear: both;
	padding-top: 2.8rem;
	text-align: center;
	color: $red;
	text-transform: uppercase;

	@include bp(sm) {
		font-size: 1.5rem;
	}
}

// Typography styles for all headers
h1, .h1-header {
	font-size: 3rem;
	font-weight: bold;
}

h2, .h2-header {
	font-size: 3rem;
	font-weight: bold;
}

h3, .h3-header, .h3-header-wide {
	font-size: 1.5rem;
	font-weight: bold;
}

h4, .h4-header {
	font-size: 1.2rem;
	font-weight: bold;
}

h5, .h5-header {
	font-size: 1rem;
	font-weight: bold;
}

h6, .h6-header {
	font-size: 0.8rem;
	font-weight: bold;
}

// for uppercase text
.small-headers {
	padding-bottom: 2rem;
	font-size: 1.5rem;
	color: $nav-text;
	text-transform: uppercase;
}

// for normal text
.small-headers-normal {
	padding-bottom: 2rem;
	font-size: 1.5rem;
	color: $nav-text;
}

.center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.arrow-down {
	width: 0;
	height: 0;
	border-top: 10px solid $red;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #eee;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #333;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}

/* Gravity Forms Styles (Global) - Service Request has separate styles */

// #gform_2 = Job Application Form

// #gform_3 = Single Unit Service Agreement Signup Form
// #gform_4 = Double Unit Service Agreement Signup Form
// #gform_5 = Triple Unit Service Agreement Signup Form

#gform_2, #gform_3, #gform_4, #gform_5, #gform_7 {

	input[type=text] {
		border: none;
		border-bottom: 1px solid $nav-text;
	}

	textarea {
		border: 1px solid $nav-text;
	}

	#gform_submit_button_2, #gform_submit_button_3, #gform_submit_button_4, #gform_submit_button_5, #gform_submit_button_7 {
		border: none;
		background-color: $red;
		color: $white;
		padding: 0.5rem 1.8rem;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		box-shadow: 0 15px 7px -10px rgba($red, 0.5);
		transition: 0.3s ease-out;

		&:hover {
			transition: 0.3s ease-out;
			background-color: $alt-red;
		}
	}
}

// Form 7 - Fall Furnace Tune-Up Form
#gform_wrapper_7 {

	.gfield_label {
		margin-top: 2.2rem;
	}

	// override sub labels for address fields
	#input_7_2_1_label, #input_7_2_2_label, #input_7_2_5_label {
		margin-top: 0 !important;
	}

	input[type=radio] {
		margin-top: 0;
		margin-right: 5px;
	}

	// move container up closer to label
	.ginput_container {
		margin-top: 0;
	}
}