.top-container {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: rgba($white, 0);

	@include mq($desktop){
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.logo-container {
	max-width: 22rem;
	width: 100%;
	position: relative;
	height: 7rem;
	background: $white;

	.logo-image-wrapper {
		display: block;	
		width: 100%;
		height: 10rem;
		top: -2px;
		left: 0;
		position: absolute;
		z-index: 10;
		box-shadow: 0 1px 5px rgba($black, 0.5);

		.logo-image {
			background: url('static/images/logo.jpg'), $white;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			z-index: 10;
			position: absolute;
			border-left: 1rem solid $white;
			border-right: 1rem solid $white;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

@include mq($from: $desktop){
	.navbar-wrap {
		max-width: 100%;

		.current-menu-item {
			a {
				border-bottom: 1px solid $red;
			}
		}

		> ul {
			display: flex;
		}

		> ul > li.menu-item-has-children > a {
			padding-top: 0.5rem;
			padding-bottom: 2.4rem;
			z-index: 10;
			position: relative;
		}

		ul > li.menu-item-has-children:hover {
			transition: 0.3s ease-out;

			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: -25px;
				pointer-events: none;
				z-index: 10;
				border-left: 39px solid transparent;
				border-right: 39px solid transparent;
				border-top: 25px solid $red;
				filter: drop-shadow(0 2px 3px $red); // shadow on tip
			}
			
			> a {
				background: $red;
				color: $white;
			}
		}

		ul {
			list-style-type: none;
			position: relative;
			margin: 0;
			padding: 0;

			a {
				display: block;
				font-size: .9rem;
				text-decoration: none;
				color: $nav-text;
				font-weight: bold;
				padding: .5rem .5rem; 
				text-transform: uppercase;
				transition: 0.2s ease-out;

				&:hover {
					background: $red;
					color: $white;
					transition: 0.2s ease-out;
				}
			}

			li {
				display: block;
				margin-right: 2rem;
				margin-top: 3rem;
				position: relative;

				a:first-of-type:hover {
					color: $white;
				}
			}

			li:hover > .sub-menu {
				display: block;
				background-color: $white;
			}

			li:hover > { 
				transition: 0.2s ease-out;
				color: $white;
			}

			// hierarchy -	.navbar ul ul
			.sub-menu {
				display: none;
				position: absolute;
				z-index: 5;
				top: 100%;
				left: 0;
				padding: 2rem 1.3rem 1.3rem;

				// shadow inset to give appearance that it is under the main nav bar
				width: 250px; // explicit
				margin-left: -1.2rem;
				box-shadow: 0 1px 3px $light-grey inset;

				.current-menu-item {
					a {
						border-bottom: none;
						background-color: $red;
						color: $white;
					}
				}

				li {
					display: block;
					border-bottom: 2px solid $red;
					margin: 0;
					min-width: 210px;
				}

				a {
					display: block;
					font-size: 0.8rem;
					line-height: 1.2;
					padding: 0.6rem 2px 0.6rem 0.5rem;
					color: $drop-down;
				}
			}
		}
		
		.nav-button a {
			color: $red;
			border: 1px solid $red;
			transition: 0.2s ease-out;
		
			&:hover {
				transition: 0.2s ease-out;
				color: $white;
				background-color: $red;
			}
		}
		
		.inverted-button a {
			color: $white;
			background-color: $red;
			box-shadow: 0 15px 7px -10px rgba($red, 0.5);
			transition: 0.2s ease-out;
		
			&:hover {
				transition: 0.2s ease-out;
				color: $white;
				background-color: $red-tint;
			}
		}
	}
}

#menu-toggle {
	display: none;
}

@include mq($until: $desktop){
	.nav-top-red-bar {
		height: 2px;
		width: 100%;
		background-color: $red;
		margin-bottom: 0.5rem;
	}

	#menu-toggle {
		display: flex;
		align-items: center;
		background: transparent; // ugly grey box on IE w/o this
		-webkit-appearance: none;
		margin: 0 0 1rem 2rem;
		color: $red;
		font-size: 1.5rem;
		border: none;

		&:hover {
			cursor: pointer;
		}

		img {
			margin-right: 1rem;
			color: $red;
			max-width: 2rem;
			height: 2rem;
		}
	}

	.logo-container {
		width: 100%;
		max-width: none;
		margin: 1rem 0;

		.logo-image-wrapper {
			height: 100%;
			position: relative;
			max-width: 27rem;
			box-shadow: none;
			margin: 0 auto;

			&:after {
				display: none;
			}

			.logo-image {
				background-size: cover;
			}
		}	
	}

	.navbar-wrap {
		width: 100%;
		//max-width: 20rem;

	}

	#primary-menu {
		width: 100%;
		list-style: none;
		display: none;
		max-width: 20rem;

		&.menu-open {
			display: block;
		}

		li {
			display: block;
		}

		.sub-menu {
			padding: 0;
			margin: 0;
			padding-left: 1.5rem;
		}

		a {
			display: block;
			padding: .5rem 0;
			color: $nav-text;
			text-decoration: none;
			text-transform: uppercase;
		}
		
		.nav-button a {
			color: $red;
			border: 1px solid $red;
			margin: 1rem 0;
			text-align: center;
		
			&:hover {
				transition: 0.2s ease-out;
				color: $white;
				background-color: $red;
			}
		}
		
		.inverted-button a {
			color: $white;
			background-color: $red;
			box-shadow: 0 15px 7px -10px rgba($red, 0.5);
			text-align: center;
		
			&:hover {
				transition: 0.2s ease-out;
				color: $white;
				background-color: $red-tint;
			}
		}
	}
}