// Front-Page specific code
.image-backdrop {
	margin: 0 auto;
	overflow: hidden;
	height: 30rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba($black, 0.4);
	background-blend-mode: multiply;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
	position: relative;
	z-index: 1;

	@include bp(sm) { height: 41rem; }


	video, .home-video {
		display: none;

		@include bp(md) {
			display: block;
			position: absolute;
			object-fit: cover;
			z-index: -1; 
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
	}

	body:not(.home) & {
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		height: 41rem;
	}

	h1 {
		font-family: $font-alt;
		font-size: 2rem;
		font-weight: normal;
		color: $white;
		text-align: center;
		text-shadow: 0 2px 4px $black;
		max-width: 53rem;
		width: 100%;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -35%);


		@include bp(xs) {
			font-size: 2.3rem;
		}

		@include bp(sm) {
			font-size: 2.8rem;
		}

		@include bp(md) {
			font-size: 4rem;
		}
	}
}

.call-to-action {
	display: flex;	
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	margin-top: -12rem;
	text-align: center;
	z-index: 99;
	padding-bottom: 0.5rem;
	flex-direction: column;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.item {
		background-color: $white;
		box-shadow: 0 0 4px 0 rgba($black, 0.5);
		max-width: 25.5rem;
		width: 100%;
		min-width: 16rem;
		border-radius: 3px;
		padding-left: 0.2rem;
		padding-right: 0.2rem;
		padding-bottom: .5rem;
		margin-bottom: 4rem;

		@include bp(md) {
			max-width: 20rem;
		}

		@include bp(sm) {
			max-width: 18rem;
		}
	}

	h3 {
		padding: 0 0 0.5rem;
		margin-bottom: 0;
		font-size: 1.8rem;

		@include bp(sm) {
			min-height: 65px;
			font-size: 1.5rem;
		}
	}

	p {
		font-family: $font-alt;
		font-size: 1.3rem;
		padding: 0 1rem;

		@include bp(sm) {
			min-height: 150px;
			font-size: 1.1rem;
		}
	}

	a.learn-more {
		display: inline-block;
	}
}

#service-plan-cards {
	overflow: hidden;
}

.service-plan-container {
	max-width: 100%;
	margin: 2rem 0;
	padding: 2rem 0;
	position: relative;
	overflow: hidden;

	.overlay-box {
		position: relative;
		z-index: 999;
		width: 100%;
		background-color: $red;	
		padding: 1rem 1rem 4rem;
		clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);

		@include bp(xs) {
			width: 482px;
			padding-bottom: 6rem;
		}

		h3, p {
			color: $white;
		}

		h3 {
			font-size: 2rem;
			margin-bottom: 0;
			margin-top: 0;
			text-transform: uppercase;
			line-height: 1;

			@include bp(sm) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 1.3rem;
			padding-bottom: 1rem;
			font-family: $font-body;

			@include bp(md) {
				font-size: 1rem;
			}
		}
	}

	img {
		display: none;

		@include bp(xs) {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			max-width: 75%;
		}
	}
}

.choose-standard {
	font-size: 1.8rem;
	text-transform: uppercase;
	color: $red;

	@include bp(sm) {
		font-size: 3rem;
	}
}

.options-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;
	text-align: center;

	.option-box {
		max-width: 24rem;
		width: 100%;
		min-width: 16rem;
		margin-bottom: 4rem;

		h3, p {
			margin-top: 0;
		}

		h3 {
			padding-bottom: 0;
			line-height: 1.25;
		}

		p {
			color: $nav-text;
			max-width: 304px;
			margin: 1rem auto;
			font-family: $font-alt;
			font-size: 1.4rem;
			min-height: 240px;

			@include bp(md) {
				font-size: 1.1rem;
			}
		}
	}
}

#reviews-standard {
	// To make the background stretch edge to edge
	position: relative;
	width: 100vw;
	left: 50%; // pushes box 50% off left edge
	margin-left: -50vw; // brings content back to center while leaving the box edges extended
	margin-top: 2rem;

	background-color: $reviews-bg;
	padding: 2rem 1rem;

	.review-title {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
		font-weight: 700;
		color: $red;
		text-transform: uppercase;
		text-align: center;

		@include bp(sm) {
			font-size: 3rem;
		}
	}
}

.reviews-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	width: 1200px; // contains content to normal wrapper specs (reset)
	justify-content: space-around;
	text-align: center;
	margin: 0 auto;
	padding: 0 4rem;

	.review-box {
		max-width: 285px;
		margin-bottom: 4rem;

		h3 {
			margin-top: 0;
			padding-bottom: 0;
		}

		img {
			padding-left: 0.4rem;
		}

		p {
			color: $nav-text;
			margin: 1rem auto;
			font-family: $font-alt;
			font-size: 1.4rem;

			@include bp(md) {
				font-size: 1.1rem;
			}
		}
	}
}

// lead-capture.twig
#estimates-standard {
	margin-top: 1rem;
	margin-bottom: 4rem;
	clear: both;

	.estimate-header, .estimate-header-grey {
		color: $red;
		text-align: center;
		margin-bottom: 1rem;
		font-family: $font-body;
		font-weight: bold;
		text-transform: uppercase;
	}

	.estimate-header {
		font-size: 1.8rem;

		@include bp(xs) {
			font-size: 3rem;
		}
	}

	.estimate-header-grey {
		color: $nav-text;
		margin-bottom: 4rem;
		font-size: 1.3rem;

		@include bp(xs) {
			font-size: 1.5rem;
		}
	}

	button {
		outline: none;
		border: none;
	}
}

.estimates-container {
	display: flex;
	max-width: 82%;
	justify-content: space-around;
	margin: 0 auto;
	padding-bottom: 5rem;

	.select-wrapper {
		position: relative;
		border-bottom: 2px solid $red;
		flex: 0 0 10rem;

		@include bp(sm) {
			flex: 0 0 15rem;
		}

		.arrow-down {
			position: absolute;
			right: 0;
			top: 50%;
			pointer-events: none;
		}
	}

	.drop-down-selector, select {
		-webkit-appearance: none;
		-moz-appearance: none;
		border: none;
		background: none;
		width: 100%;
		color: $red;
		font-size: 1.5rem;
		padding-right: 1rem;
		cursor: pointer;
		
		a {
			color: $red;
			font-size: 1.5rem;
			text-decoration: none;
			padding-right: 1rem;
		}

		span {
			display: inline-block;
			margin-left: 1rem;
		}
	}
}