.page-template-service-request {
    .description-alt-page-wrapper {
        margin: 1rem 0;
        color: $nav-text;
        max-width: 1200px;
        background-color: $white;
        border-radius: 3px;
        padding: 6rem 4rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2, p {
            font-weight: bold;
            text-transform: uppercase;
        }

        h2 {
            font-size: 1.8rem;
            color: $red;
            margin: 0;

            @include bp(sm) {
                font-size: 3rem;
            }
        }

        p {
            margin-top: 0;
            color: $nav-text;
            font-size: 1rem;
            padding-bottom: 3rem;

            @include bp(sm) {
                font-size: 1.5rem;
            }
        }
    }

    .loader {
        font-size: 10px;
        margin: 50px auto;
        text-indent: -9999em;
        width: 11em;
        height: 11em;
        border-radius: 50%;
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        position: relative;
        -webkit-animation: load3 1.4s infinite linear;
        animation: load3 1.4s infinite linear;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    
        &.inline {
            display: inline-block;
            margin: 0;
            width: 2em;
            height: 2em;
            margin: 0 1rem;
        }
    }
    .loader:before {
        width: 50%;
        height: 50%;
        background: $red;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
    }
    .loader:after {
        background: white;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.form-section {
    border-bottom: 1px solid $black;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    &-inner {
        display: none;
        margin-top: 2rem;
    }
}

.form-section-header {
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    background: none;
    border: none;
    -webkit-appearance: none;
    display: block;
    cursor: pointer;
    padding: 0;

    &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-left: .25em solid currentColor;
        border-right: .25em solid transparent;
        border-top: .25em solid transparent;
        border-bottom: .25em solid transparent;
        margin-left: 1rem;
    }

    &:disabled:after {
        display: none;
    }
}

.form-section-inner {

    > button {
        border: none;
    }

    // .time-box {
    //     border: 1px solid $alt-grey;
    //     max-width: 10rem;

    //     @include bp(lg)  {
    //         border: none;
    //     }
    // }
}

#service-request {
    flex: 1;

    label {
        display: block;
    }
    .available-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2rem;

        .service {
            label {
                display: flex;
                flex-direction: column-reverse;
                font-size: 0.9rem;
                text-align: center;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;

                &:before {
                    content: 'Select';
                    display: block;
                    color: $white;
                    background-color: $red;
                    box-shadow: 0 15px 7px -10px rgba($red, 0.5);
                    text-align: center;
                    width: 130px;
                    max-width: 100%;
                    padding: 0.5rem 1.8rem;
                    cursor: pointer;
                    box-sizing: border-box;
                    margin-top: .5rem;
                    text-transform: uppercase;
                
                    &:hover {
                        transition: 0.4s ease-out;
                        color: $white;
                        background-color: $red-tint;
                    }
                }

                &.selected:before {
                    content: 'Selected';
                    background-color: $white;
                    color: $red;
                    border: 1px solid $red;
                    box-shadow: none;
                }
            }

            input {
                display: block;
                font-size: 2rem;
                width: 2rem;
                height: 2rem;
                margin-bottom: .5rem;
            }

            // Explicit width/height for consistency in size across browsers (6rem x 6rem on chromebook w/o explicit styles)
            input[type=checkbox] {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .red-button {
        cursor: pointer;
        margin: 2rem 0;
        padding: .5rem 1.5rem;
        color: $white;
        background-color: $red;
        box-shadow: 0 15px 7px -10px rgba($red, 0.5);
        transition: 0.4s ease-out;

        &:hover {
            transition: 0.4s ease-out;
            color: $white;
            background-color: $red-tint;
        }
    }

    .contact-information-section {
        input, textarea {
            width: 100%;
            display: block;
        }

        .contact-info-wrapper {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           max-width: 100%;

           @include bp(xs) {
               max-width: 75%;
           }

           > * {
               width: 100%;
               flex: 1 0 auto;
           }

           .contact-info-header {
               width: 100%;
               flex: 1 0 auto;
               margin-bottom: 1rem;
           }
           
           label {
               width: 100%;
               flex: 1 0 auto;
               margin-bottom: 2rem;
           }

           input {
               border: none;
               border-bottom: 1px solid $alt-grey;
           }

           textarea {
               border: 1px solid $alt-grey;
           }
        }

        .half {
            .pref-contact {
                border: 1px solid $alt-grey;
                max-width: 14rem;
            }

            @include mq($tablet){
                max-width: 45%;
            }
        }
    }

    .error-message {
        background: rgba($red, .85);
        color: $white;
        padding: .25rem .5rem;
        text-transform: uppercase;
    }

    .form-errors {
        .error-message {
            margin-bottom: .25rem;
        }
    }

}

.ui-widget-header {
    background: none !important;
    border: none !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content .ui-state-hover.ui-state-default {
    background: $red !important;
    color: $white !important;
}

.service-confirmation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > * {
        flex: 1 0 auto;
        width: 100%;
    }

    .contact-info-confirmation {
        max-width: 20rem;
        margin-bottom: 4rem;

        @include mq($tablet){
            margin-right: 6rem;
        }

        .contact-confirmation-header {
            font-size: 1.8rem;
            color: $nav-text;
            padding-bottom: 1rem;
            font-weight: bold;

            @include bp(sm) {
                font-size: 1.5rem;
            }
        }

        .contact-item {
            display: flex !important;
            > span {
                min-width: 8rem;
            }
        }
    }

    .service-info-confirmation {
        max-width: 20rem;
        padding: 1rem;
        box-shadow: -1px 1px 4px 0 rgba(0,0,0,0.50);
        border-radius: 3px;

        h4 {
            margin-left: 1.5rem;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
            padding: 0;
            font-size: 1.8rem;
            font-weight: bold;
            color: $nav-text;

            @include bp(sm) {
                font-size: 1.5rem;
            }
        }
        
        div {
            margin-left: 1.5rem;
        }

        .push-down {
            padding-bottom: 2.5rem;
        }
    }
}