.main-grid-wrapper {
	margin-top: -25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: .5rem;

	@include bp(sm) {
		margin-top: -10rem;
	}

	@include mq($desktop){
		padding: 0;
	}

	#estimates-standard {
		padding-top: 2rem;
	}

	#service-plan-cards {
		margin-top: 5rem;
		
		img {
			margin-top: -22rem;
		}
	}
}

.grid-card-header, .h3-header-wide {
	margin: 0 auto;
	font-weight: bold;
	font-family: $font-body;
	color: $nav-text;
	text-transform: uppercase;
	line-height: 1.15;
}

.grid-card-header {
	padding-top: 0.8rem;
	max-width: 200px;
}

h1.grid-page-header {
	font-size: 2rem;
	font-family: $font-body;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;
	max-width: 600px;
	margin: 0;
	padding: 0 .5rem;
	position: absolute;
	top: 20%;
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
	font-weight: bold;
	line-height: 1;

	@include bp(sm) {
		max-width: 800px;
		top: 40%;
	}
}

.grid-card {
	box-shadow: 0 0 4px 0 $light-grey;
	max-width: 100%;
	width: 285px;
	margin: 0 auto;
	text-align: center;
	padding: 0.2rem 1rem;
	background-color: $white;
	margin-bottom: calc(10%/3);

	@include mq($tablet){
		max-width: 45%;
		width: 100%; // default
		margin-right: calc(10%/3);
		margin-left: calc(10%/3);

		&:nth-child(2n+2){
			margin-left: 0;
		}
	}

	@include mq($desktop){
		max-width: 22.5%;
		margin-right: calc(10%/3);
		margin-left: 0;

		&:nth-of-type(6n+4){
			margin-right: 0;
		}
	}

	p {
		font-family: $font-alt;
		font-size: 1.5rem;
		color: $nav-text;
		text-align: center;

		@include bp(lg) {
			font-size: 1rem;
			min-height: 195px;
		}
	}

	a {
		display: block;
		margin-bottom: 0.5rem;
	}
}

.grid-card-wide {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	width: 100%;
	background-color: $reviews-bg;
	padding: 1.5rem;
	margin-bottom: calc(10%/3);

	@include mq($desktop){
		max-width: calc(45% + (10%/3));
		margin-right: calc(10%/3);

		&:nth-of-type(6n+6){
			margin-right: 0;
		}
	}

	img {
		display: none;

		@include bp(sm){
			display: block;
			flex: 1 0 auto;
			max-width: 35rem;
			height: 24rem;
			margin-right: 2rem;
		}

		@include bp(md) {
			margin-right: 6rem;
			max-width: 31.75rem;
		}

		@include bp(lg) {
			margin-right: 1.1rem;
			max-width: 15.5rem;
			height: 17rem;
		}
	}

	.right-side {
		max-width: 285px;
		text-align: center;

		@include bp(sm) {
			margin-left: 1.2rem;
			margin-right: 0;
			text-align: left;
		}

		@include bp(md) {
			margin-right: 4rem;
		}

		@include bp(lg) {
			margin-right: 0;
		}
	}

	.grid-header {
		max-width: 300px;
	}

	p {
		margin-top: 0.2rem;
		font-family: $font-alt;
		font-size: 1.5rem;
		color: $nav-text;
		min-height: 165px;

		@include bp(lg) {
			font-size: 1rem;
		}
	}

	a {
		border: 1px solid $red;
		padding: 0.5rem 2.8rem;
		font-weight: 600;
		text-align: center;
		font-size: 0.9rem;

		&:hover {
			text-decoration: none;
			background-color: $red;
			color: $white;
			transition: 0.4s ease-out;
		}
	}
}

// Partner Logos QFC: [14398432]
.partner-logos-wrapper {
	max-width: 100%;
	margin: 1rem auto 1rem;
	@include bp(sm) { margin: 3rem auto 5rem; }

	h1 {
		text-align: center;
		color: $red;
		text-transform: uppercase;

		@include bp(sm) { padding-bottom: 1rem; }
	}

	.partner-logos-container {
		display: flex;
		margin: 0 auto;
		max-width: 70rem; // 5rem off (inner edge)
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap; // for odd breakpoints

		@include bp(sm) {
			flex-direction: row;
			justify-content: space-between;
		}

		.partner-divider {
			display: block;
			height: 2px;
			width: 17.5rem;
			background-color: $alt-grey;

			@include bp(sm) {
				width: 2px;
				height: 12rem;
			}
		}

		.logo-box {
			max-width: 17.2rem; // 274px
			margin: 0 auto;
			margin-top: 3rem;
			margin-bottom: 3rem;

			@include bp(sm) {
				margin-top: 0;
				margin-bottom: 0;
			}

			.partner-link {
				@include bp(md) {
					filter: grayscale(0);
					transition: 0.3s ease-out;

					&:hover {
						filter: grayscale(1);
						transition: 0.3s ease-out;
					}
				}
			}
		}
	} // end [.partner-logos-container]
} // end [.partner-logos-wrapper]