.description-page-wrapper {
	max-width: 1200px;
	background-color: $white;
	margin: -28rem auto 0.5rem;
	border-radius: 3px;
	padding: 6rem 4rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:before {
		content: "";
		display: block;
		overflow: hidden;
		position: absolute;
		height: 600px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		box-shadow: 0 0px 10px -4px $black;
	}

	@include bp(md) {
		flex-direction: row;
		margin: -20rem auto 0.5rem;
	}

	.estimates-container {
		margin: 0 auto;
		clear: both;
	}
}

.side-menu-wrapper {
	display: flex;
	flex-direction: column;
	padding-right: 1.3rem;
	max-width: 175px;

	@include bp(md) {
		border-right: 2px solid $alt-grey;
		max-width: 100%;
	}

	.side-title {
		padding-bottom: 1rem;
		font-size: 1.1rem;
		color: $nav-text;
		font-weight: bold;
		text-transform: uppercase;
	}

	a {
		margin-bottom: 0.1rem;
		padding: 0.3rem;
		color: $nav-text;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.service-request-button, .mail-button {
		font-weight: bold;
		font-size: 0.9rem;
		max-width: 145px;
		padding: 0.6rem;
		background-color: $red;
		text-align: center;
		text-transform: uppercase;

		@include bp(sm) {
			max-width: 201px;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.service-request-button {
		color: $white;
		box-shadow: 0 15px 7px -10px rgba($red, 0.5);
		margin-top: 0.5rem;
		margin-bottom: 0.8rem;
		transition: 0.4s ease-out;
	
		&:hover {
			transition: 0.4s ease-out;
			background-color: $red-tint;
		}
	}
	
	.mail-button {
		color: $red;
		background-color: $white;
		border: 1px solid $red;
		transition: 0.4s ease-out;
		
		&:hover {
			transition: 0.4s ease-out;
			color: $white;
			background-color: $red;
		}
	}
}

.right-text-wrapper {
	max-width: 720px;
	width: 100%;
	order: -1;

	@include bp(md) {
		order: 2;
	}
		
	.large-text {
		padding-top: 0;
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
		padding-bottom: 2rem;
		line-height: 1;
		text-align: left;
	}

	h2 {
		color: $nav-text;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
	}

	p {
		margin-bottom: 2rem;
		padding: 0;
		margin-top: 0;
		font-size: 1.25rem;

		@include bp(sm) {
			font-size: 1rem;
		}
	}

	a {
		text-decoration: none;
		margin-right: 2rem;

		&:hover {
			text-decoration: underline;
			text-decoration-color: $red;
		}
	}
}