.agreement-wrapper {
	max-width: 75rem;
	background-color: $white;
	margin: -28rem auto 0.5rem;
	border-radius: 3px;
	padding-top: 2rem;
	padding-bottom: 2rem;

	&:before {
		content: "";
		display: block;
		overflow: hidden;
		position: absolute;
		height: 600px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		box-shadow: 0 0px 10px -4px $black;
	}

	@include bp(md) {
		margin: -20rem auto 0.5rem;
	}

	h2 {
		color: $red;
		text-align: center;
	}

	// first group of <ul>'s
	.top-list-mods {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 0.2rem;

		@include bp(sm) {
			max-width: 35rem;
			padding-left: 2.5rem;
		}
	}

	// side by side lists
	.list-mods {
		max-width: 100%;
		display: flex;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;

		@include bp(sm) {
			max-width: 55rem;
			flex-direction: row;
			justify-content: space-between;
		}

		.p1 {
			margin-left: 2.5rem;

			@include bp(414px) {
				padding-left: 4rem;
			}

			@include bp(sm) {
				margin: 0;
				padding: 0;
			}
		}

		@include mq($until: $desktop) {
			.divider {
				display: none;
			}
		}

		@include mq($from: $tablet) {
			.divider {
				display: block;
				width: 1px;
				border: 1px solid $nav-text;
				min-height: 350px;
				background-color: $nav-text;
				margin: 0 8rem 0 4rem;
			}
		}
	}
}

// service signup cards at bottom
.fac-cards {
	max-width: 100%;
	margin: 3rem auto 6rem;

	&__container {
		max-width: 75rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(sm) {
			flex-direction: row;
			justify-content: space-between;
		}

		&--card {
			max-width: 24.5rem;
			width: 100%;
			min-height: 17.2rem;
			text-align: center;
			background-color: $off-white;
			position: relative;
			z-index: 5;
			border: 1px solid $card-border;
			border-radius: 3px;

			h3 {
				text-transform: uppercase;
				width: 14.2rem;
				text-align: center;
				margin: 0 auto;
				color: $nav-text;
				padding-top: 2rem;
				padding-bottom: 0.5rem;
			}

			.h1-header {
				font-weight: bold;
				color: $red;
				padding-bottom: 1.5rem;

				span {
					font-size: 1rem;
					color: $nav-text;
					font-weight: normal;
				}
			}

			// middle card bigger (static)
			&:nth-of-type(2) {
				transform: scale(1.1);
				background-color: $white;
				box-shadow: 0 0 26px 0 rgba($black, 0.4);
				z-index: 10;

				.red-border-button {
					background-color: $red;
					color: $white;
					box-shadow: 0 15px 7px -10px rgba($red, 0.5);
					border: none;

					&:hover {
						background-color: $alt-red;
					}
				}
			}

			a {
				padding: 0.65rem 3rem;
			}
		}
	}
}