// standard colors
$white: #FFF;
$black: #000;
$light-grey: #999;

// site specific colors
$red: #961919;
$red-tint: #C42121;
$nav-text: #4A4A4A;
$reviews-bg: #F5F5F5;
$drop-down: #9B9B9B;
$alt-grey: #979797;
$alt-red: #DF252C;
$brand-color: #E3502D; // 502 brand color for footer
$off-white: #FCFCFC;
$card-border: #D8D8D8;

// footer icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// fonts
$font-body: 'futura-pt', Arial, sans-serif;
$font-alt: 'baskerville-urw', Georgia, sans-serif;

// mq sizes
$small-tablet: 400px;
$tablet: 900px;
$desktop: 1200px;

// mq includes
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px)  { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}